[2014-04-28 18:36] FROGGS opened #1 "TODO: list of modules"
Here is the module listing as of LWP, not all of these will be be applicable though:
- [ ] LWP::MemberMixin   -- Access to member variables of Perl5 classes
- [ ] LWP::UserAgent   -- WWW user agent class
- [ ] LWP::RobotUA   -- When developing a robot applications
- [ ] LWP::Protocol          -- Interface to various protocol schemes
- [ ] LWP::Protocol::http  -- http:// access
- [ ] LWP::Protocol:

[2014-04-28 18:43] FROGGS opened #2 "TODO: HTTP::Headers"

[2014-04-28 18:43] FROGGS opened #3 "TODO: HTTP::Message"

[2014-04-28 18:44] FROGGS opened #4 "TODO: HTTP::Request"

[2014-04-28 18:45] #2 closed, assigned to nobody

[2014-04-28 18:50] FROGGS opened #5 "Review HTTP::Response"

[2014-04-28 18:54] FROGGS opened #6 "Functionality"

[2014-04-30 13:53] sergot opened #7 "Documentation"
TODO:
- write rich documentation.

[2014-04-30 13:55] sergot opened #8 "Tests"
TODO:
- write specification
- write tests

[2014-04-30 13:57] sergot opened #9 "Functionality"
TODO:
- implement methods:
  - [ ] decoded_content (optional)
  - [ ] decode (optional)
  - [ ] encode (optional)
  - [ ] dump (optional)

[2014-04-30 14:03] sergot opened #10 "Documentation"
TODO:
- rich documentation:
  - project
  - code
  - functionality

[2014-05-02 13:20] sergot opened #11 "Tests"
TODO:
- write specification
- write tests

[2014-05-02 13:24] sergot opened #12 "Functionality"
TODO:
- implement methods

[2014-05-02 13:35] sergot opened #13 "Review HTTP::Request"
Is everything alright? :)

[2014-05-20 09:49] #12 closed, assigned to sergot

[2014-05-20 10:38] #11 closed, assigned to sergot

[2014-05-27 09:11] #10 closed, assigned to sergot

[2014-05-27 09:50] sergot opened #14 "Review HTTP::Message"
Is everything alright? :)

[2014-05-27 09:53] sergot opened #15 "Functionality"
- implement methods:
  - [ ] add_cookie_header (later - requires HTTP::Request)
  - [ ] extract_cookies (later - requires HTTP::Response)
  - [x] save
  - [x] load
  - [x] clear
  - [x] set_cookie
  - [x] Str

[2014-05-27 09:54] sergot opened #16 "Tests"
TODO
- [ ] write specification
- [ ] write tests

[2014-05-27 09:54] sergot opened #17 "Documentation"
TODO:
- rich documentation:
  - project
  - code
  - functionality

[2014-06-03 14:05] sergot opened #18 "Review HTTP::Cookies"

[2014-06-03 14:10] sergot opened #19 "Functionality"

[2014-06-03 14:30] sergot opened #20 "Review HTTP::Headers"

[2014-06-03 14:36] sergot opened #21 "Functionality"

[2014-06-03 14:37] sergot opened #22 "Documentation"

[2014-06-03 14:37] sergot opened #23 "Tests"

[2014-06-03 14:37] sergot opened #24 "Review HTTP::UserAgent"

[2014-06-03 14:39] #6 closed, assigned to sergot

[2014-06-03 14:39] sergot opened #25 "Documentation"
Rich documentation

[2014-06-03 14:40] #25 closed, assigned to sergot

[2014-06-03 14:40] sergot opened #26 "Tests"
Working tests.

[2014-06-03 14:40] #26 closed, assigned to sergot

[2014-06-03 14:41] sergot opened #27 "Review HTTP::UserAgent::Common"

[2014-06-03 14:44] sergot opened #28 "Documentation"
TODO:
- rich documentation:
  - project
  - code
  - functionality

[2014-06-03 14:45] sergot opened #29 "Tests"
TODO:
- write specification
- write tests

[2014-06-03 14:46] sergot opened #30 "Documentation"
TODO:
- rich documentation:
  - project
  - code
  - functionality

[2014-06-03 14:46] sergot opened #31 "Tests"
TODO:
- write specification
- write tests

[2014-06-03 14:46] sergot opened #32 "Functionality"

[2014-08-19 13:31] #23 closed, assigned to sergot

[2014-08-19 13:31] #22 closed, assigned to sergot

[2014-08-19 13:31] #21 closed, assigned to sergot

[2014-08-19 13:31] #19 closed, assigned to sergot

[2014-08-19 13:31] #17 closed, assigned to sergot

[2014-08-19 13:31] #16 closed, assigned to sergot

[2014-08-19 13:31] #15 closed, assigned to sergot

[2014-08-19 13:31] #9 closed, assigned to sergot

[2014-08-19 13:31] #8 closed, assigned to sergot

[2014-08-19 13:31] #7 closed, assigned to sergot

[2014-08-19 13:31] #32 closed, assigned to sergot

[2014-08-19 13:31] #31 closed, assigned to sergot

[2014-08-19 13:31] #30 closed, assigned to sergot

[2014-08-19 13:31] #29 closed, assigned to sergot

[2014-08-19 13:31] #28 closed, assigned to sergot

[2014-08-19 13:32] #4 closed, assigned to nobody

[2014-08-19 13:32] #3 closed, assigned to nobody

[2014-08-19 13:32] #1 closed, assigned to nobody

[2014-08-25 13:38] tadzik opened #34 "Support HTTP Auth"

[2014-09-08 14:12] #5 closed, assigned to FROGGS

[2014-09-08 14:12] #13 closed, assigned to FROGGS

[2014-09-08 14:12] #14 closed, assigned to FROGGS

[2014-09-08 14:12] #18 closed, assigned to FROGGS

[2014-09-08 14:12] #20 closed, assigned to FROGGS

[2014-09-08 14:12] #24 closed, assigned to FROGGS

[2014-09-08 14:12] #27 closed, assigned to FROGGS

[2014-09-18 06:54] zhuomingliang opened #35 "Will not decode invalid ASCII (code point < 0 found)"
[code]
outputs
[code]

[2014-10-12 13:29] mephinet opened #36 "temp file created in working directory"
I'm using HTTP::UserAgent to download a resource (http://cv.iptc.org/newscodes/subjectcode/?format=g2ki) using perl6. If I look at the working directory while the download is running, I see a file named like abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz_ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx

[2014-10-12 14:56] #36 closed, assigned to nobody

[2014-12-15 08:56] diegok opened #37 "Response is a Buf when content-type is application/json"
I was playing with a JSON API and every time I GET something

[code]

... the response looks like:

[code]

[2014-12-15 10:33] #37 closed, assigned to nobody

[2014-12-29 18:56] jdv opened #38 "https seems broken"
Note that this:

$ perl6 -MHTTP::UserAgent -e 'say HTTP::UserAgent.new(timeout => 5).get("http://google.com").content.chars'
53781

works yet this:

$ perl6 -MHTTP::UserAgent -e 'HTTP::UserAgent.new(timeout=>5).get("https://google.com").content.chars.say'

just hung and had to be killed.

[2015-01-02 23:26] ugexe commented on #38
it appears https forwarding is broken, likely since the URI commit. For example (github forwards to ssl as does the google example above):

    nickl@localhost:~/perl6$ perl6 -e 'use HTTP::UserAgent; require IO::Socket::SSL; my $ua = HTTP::UserAgent.new; my $r = $ua.get("http://www.github.com/");'
    err code: 336130315
    error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number
    err

[2015-01-13 18:06] jdv commented on #38
This seems more like an issue with IO::Socket::SSL.  I traced it down to the $!ssl.close call
hanging.  Commenting it out seems to work.  Not sure why its hanging though.

[2015-01-13 18:53] ugexe commented on #38
nickl@localhost:~/perl6/zef$ perl6 -MIO::Socket::SSL -e 'my $c = IO::Socket::SSL.new(:host("github.com"), :port(443)); $c.send("GET /ugexe/zef/blob/master/META6.json HTTP/1.0\nHost: github.com\n\n"); say $c.recv'
    Buf[uint8]:0x<48 54 54 50 2f 31 2e 31 20 32 30 30 20 4f 4b 0d 0a 53 65 72 76 65 72 3a 20 47 69 74 48 75 62 2e 63 6f 6d 0d 0a 44 61 74 65 3a 20 54 75 65 2c 20 31 33 20 4a 61 6e 20 32 3

[2015-01-13 19:09] jdv commented on #38
Those don't work for me for different reasons:

[jdv@jdv ~]$ perl6 -MIO::Socket::SSL -e 'my $c = IO::Socket::SSL.new(:host("github.com"), :port(443)); $c.send("GET /ugexe/zef/blob/master/META6.json HTTP/1.0\nHost: github.com\n\n"); say $c.recv'
err code: 336130329
error:1408F119:SSL routines:SSL3_GET_RECORD:decryption failed or bad record mac
err code: 0
error:00000000:lib(0):func(0):reason(0)
Buf

[2015-01-13 19:12] ugexe commented on #38
nickl@localhost:~/perl6/zef$ openssl version
OpenSSL 1.0.1j 15 Oct 2014

nickl@localhost:~/perl6/zef$ perl6 -v
This is perl6 version 2014.12-118-gc5dcdfb built on MoarVM version 2014.12-4-g7e95c05

[2015-01-19 23:08] avuserow opened #42 "Query strings in HTTP::Request get lost"
perl6 -MHTTP::Request -e'say ~HTTP::Request.new(GET => "http://google.com/?q=foo")'

     GET / HTTP/1.1
     Host: google.com

The request lacks "?q=foo".

[2015-01-20 14:39] sergot commented on #42
Yeah, we forgot about the queries.

Thank you avuserow, does my hotfix do the thing, is it enough (I'm not sure)?

[2015-01-20 18:22] avuserow commented on #42
Looks good to me, thanks for the quick fix.

[2015-01-23 20:39] #42 closed

[2015-01-25 23:28] avuserow opened #45 "Support for other HTTP methods"
I'm working on a module that wants to make POST requests, and I can imagine that others will want to do POST/PUT/DELETE/etc in the future. I was wondering if there is any roadmap toward this functionality, perhaps something that I could work on at some point.

In general I was thinking that the existing get method in UserAgent could be changed to a more general request method, with wrapper functio

[2015-01-30 23:21] #35 closed

[2015-05-26 17:27] bbkr opened #51 "Malformed termination of UTF-8 string"
Error happens on Rakudo Moar 2015.05 on OS X Yosemite after random amount of iterations, usually less than 100:

[code]

[2015-05-26 17:34] bbkr opened #52 "Severe memory leak on repeated get()"
Repeating simple ```$ua.get($any_url)``` eats up few MBs of memory per iteration.
Assigning response to variable that is later explicitly undefined or goes out of scope does not help.

[2015-07-14 11:01] ohait commented on #52
there is an $.history in the $ua instance that holds a .clone of every answer fetched, maybe that's one of the problems?

[2015-07-14 11:04] ohait opened #54 "Could not find symbol '\&Header'"
while fetching http://bbc.com
[code]

[2015-07-14 11:05] ohait opened #55 "X::Method::NotFound.new(method => "subbuf" ...)"
while fetching http://www.telecomitalia.it
[code]

[2015-07-14 11:08] ohait commented on #51
not sure if it is related, but some times is warns ````Use of Nil in string context  in block  at lib/HTTP/Cookies.pm6:44````

[2015-07-14 15:27] jonathanstowe commented on #54
can you show the actual code you are using?

[2015-07-14 15:49] jonathanstowe commented on #55
Not handling a "connection reset" I think.

[2015-07-14 16:39] jonathanstowe commented on #55
On balance I think this is an infelicity on the way that 'recv' works.  It will fail if the socket isn't connected but just returns nothing if the socket doesn't work after that.  This can be worked around but I think a bug against IO::Socket::INET might be in order.

[2015-07-14 17:30] jonathanstowe commented on #54
Sent PR at #57 to fix this.

[2015-07-15 06:56] ohait opened #58 "Use of Nil in string context in block at lib/HTTP/Cookies.pm6:44"
I thing this happen when the response doesn't have any Set-Cookies header:
[code]
similar when running tests
[code]

[2015-07-15 07:47] #54 closed

[2015-07-15 07:52] jonathanstowe commented on #58
Fixed in master now.

[2015-07-15 07:52] #58 closed

[2015-07-15 07:54] jonathanstowe commented on #55
Merged a fix with 22fddf39480bea87adff6029305ee675facb53ca (it will raise an exception of there isn't any data rather than failing when it tries to used the missing data.)

[2015-07-15 08:18] ohait commented on #55
not sure if which commit caused it but now:
[code]

[2015-07-15 08:21] jonathanstowe commented on #55
I think this is something to do with the other end as it appears to be intermittent.

[2015-07-15 11:36] ohait opened #60 "amazon.com"
[code]
note: on a different test i once got 19513185363 instead of 23362397780, and after few consistent tries i start getting a different number. (I wonder if it change with the content, hence it is a a problem with some alignments)

[2015-07-15 11:51] jonathanstowe commented on #60
Hi,
for me with a two day old rakudo, it mostly works fine:

[jonathan@coriolanus http-useragent]$ perl6 -Ilib -e 'use HTTP::UserAgent; say HTTP::UserAgent.new().get("http://amazon.com").code'
200

I very, very occasionally get a completely different error.

[2015-07-15 11:53] ohait commented on #60
my rakudo is 1/2 weeks old, on moarvm. updating now and trying again

[2015-07-15 12:03] ohait commented on #34
I setup this that require basic auth, HTH
````curl -u test:TEST http://oha.it/t/auth/````

[2015-07-15 12:17] ohait commented on #60
unfortunately, same thing. I wonder if there is a different content sent by geoIP:
[code]

[2015-07-15 13:29] jonathanstowe commented on #60
Can you post the headers you get with curl or something else?  It's a redirect so both sets would be ideal.

[2015-07-15 14:30] ohait commented on #60
it happen even when i try the final url:
[code]

anyway without www:
[code]

[2015-07-15 14:41] ugexe commented on #55
That heisenbug has been around for awhile

[2015-07-15 16:01] ugexe commented on #60
This could be related to the `/html>` test failure bug and `while recv-entire-chunk($chunk) {` looking for a specific string in the body that may be getting mangled (like the mentioned `/html>` tag)

[2015-07-16 08:58] ohait opened #61 "long wait for some responses"
I noticed in few cases there are long waits to fetch the data (more than 60 seconds):
[code]
[code]

I wonder if it is somehow related to empty responses, since:
[code]
is considerably quicker

[2015-07-16 21:19] bbkr commented on #51
Same example, another error:

[code]

This may indicate something is wrong with expected length of data.

[2015-07-16 21:23] bbkr commented on #52
Probably yes. Unfortunately I cannot test it in reliable way because I'm not able to do more that a few GETs before module crashes.

Issue should be left open because:
- there is no documentation of such behavior
- there is no way to control it and it always makes module slow even when not needed - https://github.com/sergot/http-useragent/blob/master/lib/HTTP/UserAgent.pm6#L217

[2015-07-17 22:14] jonathanstowe commented on #51
Fixed that:

[jonathan@coriolanus http-useragent]$ time perl6 -Ilib -e 'use HTTP::UserAgent; my $ua = HTTP::UserAgent.new; $ua.get("http://rakudo.org") for ^1000' >x

real	22m54.573s
user	13m47.236s
sys	0m9.700s

The problems are mostly to do with it getting confused with chunked data, so I've made sure that it always parses the first data for chunks it has after it has got the headers to ensure i

[2015-07-18 08:50] jonathanstowe commented on #51
Right,
pushed that.  If someone wants to try if against a few web sites (I only added a test against the rakudo.org )  I  did check against the https://jigsaw.w3.org/HTTP/ChunkedScript but haven't added a test with that as it's SSL only.

[2015-07-18 15:26] ohait commented on #52
since I want to decide how to handle redirect, I use $.history with a :maxredirect(0). I hope it won't be removed without a way to tell "do not follow reidirects"

[2015-07-18 17:03] jonathanstowe commented on #52
@bbkr the version now in master I have run for 1000 successive gets.  Please retest.

This probably won't move forward unless there are explicit tests to work toward.

[2015-08-04 11:38] sergot commented on #38
Is it ok now?

[2015-08-09 06:16] jdv commented on #38
I can't test that because now Digest seems broken.  The Digest tests hang and if
i install Digest with --notests then the tests for H::U hang:(

[2015-08-22 17:22] jdv commented on #38
Now that Digest is fixed I can test and sadly report a different failure.  One char
difference is all it takes:)  See below.

[jdv@wieldy ~]$ perl6 -MHTTP::UserAgent -e 'say HTTP::UserAgent.new(timeout => 5).get("http://google.com").content.chars'
52687
[jdv@wieldy ~]$ perl6 -MHTTP::UserAgent -e 'say HTTP::UserAgent.new(timeout => 5).get("https://google.com").content.chars'
Too many positionals pa

[2015-08-26 15:38] tadzik opened #62 "Support proxies"

[2015-08-26 16:41] tadzik commented on #62
Work started in https://github.com/tadzik/http-useragent/tree/proxy

[2015-08-27 08:09] sergot commented on #62
:+1:

[2015-08-27 10:52] jonathanstowe commented on #38
@jdv this actually looks like something in IO::Socket::SSL, struggling to see where though.

[2015-08-27 13:50] jonathanstowe commented on #38
Actually this might be a false hypothesis,  I'm thinking that it might be to do with the redirects.  If there is a relative redirect at certain points then the Host header doesn't get populated and boom.

[2015-08-27 13:57] ugexe commented on #38
fwiw I changed added a `.print` method to `IO::Socket::SSL` a few days ago, which also happens to be called on the line of the error in question ($socket.print(...) where $socket may be `IO::Socket::INET` or `IO::Socket::SSL`). Before it would call `my $socket = IO::Socket::SSL; $socket.print($x ~$y)`, but it had no such method (although from the error maybe its hidden in the native call stuff?)

[2015-08-28 16:49] tadzik commented on #62
Merged now.

[2015-08-28 16:49] #62 closed

[2015-09-03 17:19] jonathanstowe commented on #38
Hi,
I think I have fixed it.  The test url was redirecting to / and this resulted in a request without a host.  I've refactored the way that redirects are handle such that if no Host can be dtermined from the Location header in the response the host port and scheme from the original request are used.

It's not very tidy but it seems to work now.

[2015-09-03 21:07] MARTIMM opened #64 "some urls go wrong with get()"
Using address ```http://purl.org/dc/elements/1.1/``` in $ua.get() will throw an error at line 122 in UserAgent.pm6.
Placing the line ```say "HHH: $host";``` just after
```my $host = ~$request.header.field('Host').values;``` at line108 reveals what might go wrong
showing;
[code]
The redirect to dublincore is correct. The last step is an error obviously and produces a ```Failed to resolve host name`

[2015-09-03 21:15] jonathanstowe commented on #64
That's odd.

This seems to be because the last redirect is

        Location: HTTP://dublincore.org/documents/2012/06/14/dcmi-terms/

And it doesn't like the upper case uri scheme.  I'll look in the
morning.

On Thu, 2015-09-03 at 14:07 -0700, Marcel Timmerman wrote:

[2015-09-04 08:55] jonathanstowe commented on #64
Hi,
The changes I made yesterday to the way that redirects work appear to have stopped it from dieing but strangely there is no content: added a test and will try and track it down.

[2015-09-04 11:22] MARTIMM commented on #64
When I let wget get the data it seems to get it from an index.html which is the default in http/html world.
[code]

[2015-09-04 11:44] jonathanstowe commented on #64
It's following the redirects okay, it just doesn't wind up with any data.  I think it may be the length thing :)

[2015-09-04 12:31] jonathanstowe commented on #64
Ah,
It's something to do with the decoded-content.  If I instrument the code thusly:

[code]

I get:

[code]

Investigating :)

[2015-09-04 13:03] jonathanstowe commented on #64
Got it!  Encode::decode refuses to decode that page because it doesn't like the default 'ascii' (the final redirect target doesn't specify in content type.)  Changing the default to iso-8859-1 seems to work and is afaik safe to use.  I'll need to check all the tests and then push it.

[2015-09-04 13:17] jonathanstowe commented on #64
@MARTIMM That should be all fixed with the 2cb67995ca711c8007cbf57e23f7d220c9a31c9d if you'd like to install the latest version and test again :)

[2015-09-04 13:25] MARTIMM commented on #64
\o/
Installed it and tested it on the address. Now I could download the page. Thanks very much.

[2015-09-04 13:30] jonathanstowe commented on #64
:+1:  Cool. I'll close the issue then :)

[2015-09-04 13:30] #64 closed

[2015-09-04 13:54] jonathanstowe commented on #38
I think this is all good now, if someone else could check and close.

[2015-09-11 14:53] jdv commented on #38
Confirmed fixed.

[2015-09-11 14:53] #38 closed

[2015-09-25 17:42] jdv opened #66 "15-issue-64.t hangs"
Seems to get stuck in an epoll_wait() call.  Installing with --notests still gets me hanging.

[jdv@wieldy ~]$ perl6 -v
This is perl6 version 2015.09-102-gf89dc23 built on MoarVM version 2015.09-35-gd15a446
[jdv@wieldy ~]$

[2015-09-25 18:49] jonathanstowe commented on #66
Hi,
The latest head works for me:

[jonathan@coriolanus http-useragent]$ perl6 -Ilib t/15-issue-64.t
ok 1 - make request to 'http://purl.org/dc/elements/1.1/' lives
ok 2 - request was successful
ok 3 - and got some content back
1..3

May need to get you to instrument it in some way to see what is going.  Bear in mind that the reason for the test is that it does two redirects, one to a different se

[2015-09-26 10:44] jdv commented on #66
Yeah, it passed for me now so I'll close.  Is it really necessary to rely on the
network for this kind of test?  That's likely what it was since I'm on a very crappy
connection.

[2015-09-26 10:44] #66 closed

[2015-09-26 11:04] jonathanstowe commented on #66
I was actually thinking along similar lines, however real world web servers present a lot of interesting edge cases which are tricky (but not impossible,) to replicate locally.  I think a compromise would be to have a way of turning off the "live network" tests.

[2015-09-26 13:50] jdv opened #67 "A punoftheday.com url is too slow!"
http://www.punoftheday.com/cgi-bin/todayspun.pl

I can fetch that with FF here in about .25s.
H::UA takes about 82s and is hung in an
epoll_wait() call.

[2015-09-27 18:43] ugexe commented on #67
The problem appears to be that http://www.punoftheday.com/cgi-bin/todayspun.pl says it is using a chunked Transfer-Encoding, but the response body seems (as far as I know) malformed in that it does not send the initial chunk size:

    nickl@localhost:~/perl6/zef$ curl -iv --raw  http://www.punoftheday.com/cgi-bin/todayspun.pl
    *   Trying 72.34.56.190...
    * Connected to www.punoftheday.com (

[2015-09-27 19:20] jdv commented on #67
Yes, working would be great!

[2015-09-27 19:54] avuserow opened #68 "Nicer handling of malformed utf8"
I've seen some APIs that have a bad encoding specified in the content-type header, usually when dealing with a bad request. Currently HTTP::UserAgent provides no way of getting the raw bytes in this case.

If you have `plackup` from Perl 5's Plack module, we can demonstrate like so:

server: `plackup -e'sub {return [200, [], ["hello world\xff\xff\n"]]}'`
client: `perl6 -MHTTP::UserAgent -e'my $ua

[2015-09-27 22:05] ugexe commented on #67
Further inspection shows it actually is a valid chunked response, so my comment may be missing the source of the bug entirely :-(

    perl6 -e 'say :16("dc")'
    220

[2015-09-30 05:18] GildedHonour opened #69 "Method 'is-success' not found"
The code from readme

[code]

Doesn't it support https?

[2015-09-30 08:11] sergot commented on #69
Could you please show us your code?

[2015-09-30 10:41] GildedHonour commented on #69
Fixed.

Sent from my ASUS

-------- Original Message --------
From:Filip Sergot <notifications@github.com>
Sent:Wed, 30 Sep 2015 16:11:15 +0800
To:sergot/http-useragent <http-useragent@noreply.github.com>
Cc:Alex Maslakov <me@gildedhonour.com>
Subject:Re: [http-useragent] Method 'is-success' not found (#69)

[2015-09-30 10:45] #69 closed

[2015-10-03 17:37] jdv commented on #67
I figured out the issue.  The code is not checking if the entire response is in the first chunk.  I'm not sure how to test this so I'll just past my diff here.  All other tests pass though.

[jdv@wieldy p6-http-useragent]$ cat foo.diff
diff --git a/lib/HTTP/UserAgent.pm6 b/lib/HTTP/UserAgent.pm6
index 020b22b..3c23e1e 100644
--- a/lib/HTTP/UserAgent.pm6
+++ b/lib/HTTP/UserAgent.pm6
@@ -208,8 +208,

[2015-10-03 19:06] FROGGS commented on #67
@jdv Can you pull request that?

[2015-10-04 12:30] jonathanstowe commented on #67
I'm quite happy to manually merge the patch - it would probably be quicker than @jdv  making the PR tbh :)

[2015-10-04 12:50] jonathanstowe commented on #67
Added that with 0e1bfe11b2b732deb8edb0c9d3993fe9b4bc90b - If someone can contrive a test for it that would be cool, but all the current tests pass.

[2015-10-04 20:28] jdv commented on #67
So...  I didn't test my original patch beyond the clearing up the bug.
Here's some betterness:  https://github.com/sergot/http-useragent/pull/70

[2015-10-05 08:51] jonathanstowe commented on #67
Merged with 9a70f3e632ce75d24267564334bc05c33d34e51 all good :)

[2015-10-05 18:30] jdv commented on #67
Looks fixed.

[2015-10-05 18:30] #67 closed

[2015-10-08 23:56] tokuhirom opened #72 "t/09-ua-ssl.t fails with "Memory allocation failed""
[code]

[2015-10-09 07:56] #72 closed

[2015-10-09 09:16] tokuhirom commented on #60
This issue was fixed by #73

[2015-10-09 09:21] tokuhirom commented on #52
$.history shouldn't be array of responses. It should be a counter of redirects.

[2015-10-09 15:33] tokuhirom commented on #61
In this case, HTTP::UserAgent reads some extra bytes from socket. It blocks the process.
bing.com configured 60sec is a keep-alive timeout. As a result, H::UA gets 60 sleep sleeping.

[2015-10-09 16:19] #61 closed

[2015-10-09 23:24] tokuhirom commented on #51
This issue was fixed. I rewrote chunked response reader.

[2015-10-10 14:28] GildedHonour opened #78 "How to add HTTP parameters to .post($url)?"
1) When I send a post request like this:

[code]
how can I add HTTP parameters to it or rather its body?

2) How can I set the content-type?

[2015-10-10 14:54] ugexe commented on #78
1) POSTing: https://github.com/sergot/http-useragent/blob/master/t/04-request.t#L11

2) Setting header values: https://github.com/sergot/http-useragent/blob/master/t/04-request.t#L27

[2015-10-10 14:58] GildedHonour commented on #78
thanks, but as was stated, I'm making a post request by calling a method post `$.http-client.post($url);`

[2015-10-10 15:02] ugexe commented on #78
There is no `method post`

[2015-10-10 15:05] GildedHonour commented on #78
have "get" and "post" been illuminated?

[2015-10-10 15:07] ugexe commented on #78
I don't think `post` was ever implemented in `HTTP::UserAgent`. Maybe you are thinking of `LWP::Simple`

[2015-10-10 15:13] GildedHonour commented on #78
no, yours.
"get" was implemented and "post" was never?

anyway, and how cat I set the body parameters, not headers, for "post"?

[2015-10-10 15:39] sergot commented on #78
We should definitely implement POST method in HTTP::UserAgent.

Unfortunately it's not implemented yet, but it is very easy to do.

[2015-10-10 15:40] sergot commented on #78
To add the body: https://github.com/sergot/http-useragent/blob/master/t/04-request.t#L23

[2015-10-10 15:40] jonathanstowe commented on #78
Hi,
As it currently stands you need to construct the request manually something like:

use HTTP::UserAgent;
use HTTP::Request;

my $req = HTTP::Request.new(POST => 'http://localhost', Content-Type => 'application/x-www-form-urlencoded');

$req.add-content("foo=bar&zub=wazok");

print $req;

my $ua = HTTP::UserAgent.new;

print $ua.request($req);

[2015-10-10 15:45] GildedHonour commented on #78
Thank you.

[2015-10-10 15:45] #78 closed

[2015-10-12 00:19] fayland opened #81 "error on new"
well, it's a bit weird as I see but not sure if it's related to the module itself or moar.

[code]

I bet it's something related to multi method new

Thanks

[2015-10-12 07:13] jonathanstowe commented on #81
Hi,
It's the way named arguments work.  In the latter two examples you get a single positional argument which is a Pair,

You can get around this by flattening the resulting pair:

   HTTP::Request.new(|("GET" => "http://www.example.com/"));

[2015-10-12 07:14] fayland commented on #81
blame my perl6 knowledge. sorry to bother.

[2015-10-12 07:14] #81 closed

[2015-10-12 07:39] jonathanstowe opened #83 "Some "live" tests may not work on Travis CI"
May need to skip some tests on Travis if this is the case (this is a bit VW I know ;-)

   https://travis-ci.org/sergot/http-useragent/builds/84871091

will try to examine later.

[2015-10-12 07:46] jonathanstowe commented on #81
No worries :)

[2015-10-12 08:59] jonathanstowe commented on #83
Hmm maybe not, the very next run they pass.  This could be some flakiness in the tests instead.

[2015-10-12 11:15] sergot commented on #83
Hmm, that's weird. Let's see if this happens again.

[2015-10-12 14:06] moritz commented on #83
According to https://github.com/Perl-Toolchain-Gang/toolchain-site/blob/master/lancaster-consensus.md, live tests could depend on the `EXTENDED_TESTING` environment variable.

[2015-10-12 15:56] skaji opened #85 "HTTP::Request automatically sets http header 'Host' from uri host"
HTTP::Request automatically  sets http header 'Host' from uri host in
https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Request.pm6#L33

But there may be a case where uri host is not the same as http header 'Host',
eg, reverse proxy http requests.

In fact, we want to use HTTP::Request in Crust https://github.com/tokuhirom/p6-Crust/pull/22
where we want to set http header 'Host' differ

[2015-10-12 16:18] jonathanstowe commented on #85
Hi,
In principle I agree.  At minimum if the host header is set in the constructor for example then that shouldn't be over-written later (because clearly the users preference should be respected.)

I think I moved setting the Host there in the first place as there was a problem with relative redirects otherwise, but there are other ways round that I am sure.

[2015-10-12 17:55] shoichikaji commented on #85
@jonathanstowe Thank you for your reply!

Then do you accept the following change?
[code]

Actually I'm not sure how to handle uri() and host() methods.
https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Request.pm6#L54
https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Request.pm6#L62-L67

[2015-10-12 20:09] jonathanstowe commented on #85
Yeah using the Host header to pass around the host does someone complicate it and is rather ugly and inflexible because really we are interested in three different hosts potentially - the Host header host, the connect host and the URI host, these may all differ in different combinations under different circumstances.

But yes the change you have is good. I'll have to look more carefully at  how th

[2015-10-12 21:00] ugexe commented on #85
It seems a lot of this middleware type behavior could be simplified in Crust by using roles... `my $request = HTTP::Request.new but role :: { multi method uri { <do something else when HTTP::Request.uri is called, and possibly continue the dispatch to the original method> }`

[2015-10-12 21:41] jonathanstowe commented on #85
I think that the stuff around the usage of the host header does need to be cleaned up somewhat irrespective of any particular use-case :)

[2015-10-13 22:31] bbkr commented on #52
I confirm that latest version runs without crashing through hundreds of iterations. Awesome!

Also it does not leak when ```$ua.history = ()``` is invoked after every get (I haven't tested @tokuhirom patch yet).

[2015-10-13 22:33] jonathanstowe commented on #52
cool!

[2015-10-13 22:44] bbkr commented on #51
Thanks!

[2015-10-13 22:44] #51 closed

[2015-10-13 22:56] jonathanstowe commented on #51
:+1:

[2015-10-14 09:18] sergot commented on #52
:+1:

[2015-10-14 09:18] #52 closed

[2015-10-14 13:54] tokuhirom opened #89 "Timeout support"
HTTP::UserAgent should have timeout feature.

[2015-10-14 15:04] jonathanstowe commented on #89
Hi,
it probably should, however I don''t think the IO::Socket::INET supports a timeout currentlly and I'm not sure if there's a nice way to do it otherwise.

But of course if you have a suggestion .....

[2015-10-15 13:29] ugexe opened #91 "Grammars using | instead of ||"
The MediaType grammars copied from the RFCs use | but when translated to Perl6 from BNF should be || as its meant to represent the first match, but currently attempts to match all items and then capture the longest.

[2015-10-15 13:33] FROGGS commented on #91
And.. is there a case where this would be problematic?

[2015-10-15 14:11] ugexe commented on #91
Other than its not what the RFC is declaring the problem is its slower. I don't have any specific strings that will break it (anymore), but i've gone through this before with (the now defunct) https://github.com/ugexe/Perl6-MediaType and https://github.com/ugexe/Perl6-Grammar--HTTP and remember bugs cropping up specifically from `|` in the MediaType tokens

[2015-10-15 14:29] FROGGS commented on #91
LTM (`|`)should make it faster, really.

[2015-10-15 14:46] ugexe commented on #91
Depending on the grammar I imagine it would, but I also have a hunch many RFCs have their `or` order in a somewhat optimize position. Scanning for tokens like `<obs-sometoken>` last makes sense.

There are also tokens being used that are not defined as far as I can tell:
https://github.com/sergot/http-useragent/blob/master/lib/HTTP/MediaType.pm6#L32

[2015-10-15 16:43] FROGGS commented on #91
hmmm, I see.

[2015-10-16 00:55] tokuhirom commented on #91
@ugexe I'm p6 grammar newbie. please rewrite it :)

[2015-10-16 01:01] tokuhirom opened #92 "t/08-ua.t fails"
[code]

[2015-10-16 01:03] tokuhirom commented on #92
ua.offensivecoder.com has IPv6 and IPv4 address. But IPv6 IP is not reachable.
[code]

[2015-10-16 02:21] #91 closed

[2015-10-16 06:03] tokuhirom commented on #91
Thanks!
On Oct 16, 2015 11:21 AM, "Nick Logan" <notifications@github.com> wrote:

[2015-10-16 07:58] jonathanstowe commented on #92
Unfortunately I'm not able to test this properly because I don't have V6 here.

I'd assumed, because the default for "family" in the arguments to IO::Socket::INET.new is PIO::SOCK_INET and not PIO::SOCK_INET6 that it wouldn't attempt the v6 connection (or even attempt to resolve the AAAA record,) but this appears not to be the case.

The IO::Socket::INET is really only a very thin layer over the N

[2015-10-17 04:23] fayland opened #93 "how to get content when there is an HTTP error?"
for example, there is a body in github response like
[code]

but in request you throw an error with any content
[code]

is there a way to get the response body?

Thanks

[2015-10-17 09:42] jonathanstowe commented on #93
Currently not, but I guess it would take the relatively simple expedient of moving that bit of code to later in the request method.

I'll try to take a look this afternoon.

[2015-10-17 11:15] jonathanstowe commented on #93
I'm talking crap, I should drink  more coffee and actually read the code before replying :-\

In the first instance I'm going to go with putting the HTTP::Response  we have got so far into the exception so it can be inspected (it does seem a shame to throw it away like that,)  it might not be ideal but it's easy to do and doesn't change the existing interface for the time being.

[2015-10-17 20:04] jonathanstowe commented on #93
Hi,
with c18733e4b3cff9e0883479e7b7601088c90680dd if you catch the exception then you should be able to get the response and from there its content, there are a couple of exceptions thrown where there won't be a response so you probably want to checj it's defined.

I think there is some work to be done around this but it should get you moving :)

[2015-10-18 00:46] fayland commented on #93
Hi

thanks for the work.

[2015-10-18 00:47] #93 closed

[2015-10-18 11:48] tokuhirom opened #95 "Throwing exception on 4xx and 5xx is bad interface."
Current implementation throws an exception if the server returns 4xx or 5xx.
But it is not a good interface. I suggest to return the response in normal interface.

[2015-10-18 12:49] jonathanstowe commented on #95
I'm not so sure it's a bad interface, rather that it's a matter of taste and/or exactly how you want to use the library.  I'd suggest as a compromise that there should be some switch on the UserAgent object that can turn the exceptions off.

[2015-10-18 17:22] jonathanstowe opened #96 "204 doesn't work"
If the server response is 204, then it is saying it will not be returning any content, however as it currently stands it just waits forever ( or until the server disconnects,) trying to read 5 bytes that will never come..

[code]

[2015-10-18 19:00] #96 closed

[2015-10-18 22:21] jonathanstowe commented on #95
Hi,
take a look at that.  If you suplly :no-exceptions to the ua constructor  it won't throw those exceptions

[2015-10-19 15:02] jonathanstowe commented on #55
I'm going to close this one as it doesn't appear that any of the problems described above are happening any more.

[2015-10-19 15:03] #55 closed

[2015-10-19 16:45] jonathanstowe commented on #34
@ohait thanks for that, I'm just writing a test and it appears that is returning a 404 (when authenticated,) I can work for that for the time being, but any chance of making it return something so the test is less ambiguous?

Thanks again.

[2015-10-19 17:03] ohait commented on #34
@jonathanstowe should return a 200 OK with a small html page now

[2015-10-19 17:05] jonathanstowe commented on #34
@ohait you're fab! cheers :)

[2015-10-19 17:14] jonathanstowe commented on #34
And it's all good.  I'll close this ticket as it stands but the auth piece probably needs a bit of work (pluggable auth schemes, per-realm/per-domain credentials etc) but this works.

[2015-10-19 17:26] #34 closed

[2015-10-19 19:16] jonathanstowe commented on #45
I'm minded to close this now as there is a generic request method and a set of usable defailt requsts in the HTTP::Request::Common.

Moving on we'll probably want to document this better however.

[2015-10-19 19:17] #45 closed

[2015-10-19 19:24] jonathanstowe commented on #60
I think we can close this as @tokuhirom's #73 fixed the chunking and I previously cleaned up and tested the redirect part.

[2015-10-19 19:24] #60 closed

[2015-10-19 19:25] jonathanstowe commented on #68
Still looking for a test and/or fix on this.

[2015-10-19 20:17] jonathanstowe commented on #92
I'm minded to file a bug against rakudo for this, I don't think it should be preferring V6 without being told to do so, and I think that if it is going to do some kind of magic then it should try both and only fail if it can't connect either.

The ticket is https://rt.perl.org/Ticket/Display.html?id=126401

The workaround is to separately resolve the IP address of a domain name using e.g. Net::DNS

[2015-10-19 20:39] jonathanstowe commented on #89
I've had a think about this and I think it can be implemented with a small bit of asynchronous code to perform the timeout.

I want to do some refactoring around the request() method first so that I can isolate the connection parts in its own method first.

[2015-10-19 20:54] ugexe commented on #89
I've tried this before but it did not seem to actually work

    await Promise.anyof(
        Promise.in(60),
        start {
           # make request
        },
    );

[2015-10-19 21:26] jonathanstowe opened #97 "Refactor HTTP::UserAgent.request()"
The request() method, due to a large number of smaller changes, has become gargantuan and this in turn will become a barrier to further improvement

What I propose is to remove as many discrete bits of code, such as setting up the proxy, setting up authentication, getting the connection and so forth into their own methods. This makes it more flexible and extensible by sub-classing.

Of course ther

[2015-10-19 21:47] jonathanstowe commented on #89
@ugexe yeah that's https://rt.perl.org/Ticket/Display.html?id=126390 but for me:

[code]

Works fine here. Obviously that's somewhat different to the actually code but you get the idea.

[2015-10-20 07:57] sergot commented on #97
:+1:

[2015-10-20 10:44] azawawi commented on #95
I vote that ```:no-exceptions``` is the default behavior. Even though you could also use ```$exception.response```.

[2015-10-20 10:45] sergot commented on #95
same here, I think :no-exceptions should be default. :)

[2015-10-20 10:46] azawawi commented on #83
My selenium web driver failed today because one of these live tests on Travis CI.

[2015-10-20 10:55] jonathanstowe commented on #95
Seems like a reasonable compromise, ```:throw-exceptions``` it is then

[2015-10-20 10:58] moritz commented on #95
Another idea would be to throw an exception when accessing the contents of a request with 4* or 5* status without checking the status code first.

[2015-10-20 11:18] jonathanstowe commented on #95
@moritz I like that idea and it does place the logic in a better place (i.e. in the response object, ) but in the first place I think I'll go with flipping the exceptions logic and then add something like this afterward (there are other things I'd like to move from UserAgent into either Request or Response in the medium term.)

[2015-10-20 11:22] jonathanstowe commented on #95
Also while I'm thinking about this, would it be better to keep the exceptions for the ':simple' subroutines? as in these cases the user doesn't get the full response to check anything.

[2015-10-20 11:39] jonathanstowe commented on #83
Hmm,
the problem as I see it is that, as it currently stands, it would be difficult to get the coverage to ensure things are working properly without the live tests (there being too many weird cases in real life web servers to hope to emulate them in some local mock server, but I'd be all up for someone trying ;)

I've just started on the work for #97 which will give us a better chance of mocking

[2015-10-20 12:26] jonathanstowe commented on #95
If everyone's cool with it I'm going to close this with a commit as described above, that is *don't* throw exceptions unless ```:throw-exceptions``` is given to the constructor, but keep the exceptions for the ```:simple``` exports. Then create a new issue with @moritz's suggestion above so we can get more ideas about that  :)

[2015-10-20 12:36] jonathanstowe opened #99 "Move responsibility for throwing exceptions to HTTP::Response"
In #95 @moritz suggested

Which seems like a very good idea, it moves the responsibility for knowing what is a good response into a better place and should make the code clearer.

I would however like to wait until after #97 as that will almost certainly involve some more immediately obvious movements between HTTP::UserAgent and HTTP::Request and HTTP::Response.

[2015-10-20 13:08] jonathanstowe opened #100 "Hangs in await start (cover rakudo RT#126390)"
This is a placeholder in case it gets reported here.

In https://rt.perl.org/Ticket/Display.html?id=126390 Ovid reports that:

[code]

hangs up.  It seems to be stuck in a futex() that isn't being released somewhere.

It appears that this also happens to LWP::Simple so it is probably something deeper than a bug in the module.

If it can be fixed here then that's cool, otherwise it might need to wa

[2015-10-20 13:21] #95 closed

[2015-10-20 14:47] jonathanstowe opened #101 "head() doesn't work"
Just noticed then while working on #97 - the implementation of head() attempts to treat HTTP::Header.fields as a Hash whereas it is an array.

Will add a test and fix.

[2015-10-20 15:16] jonathanstowe commented on #101
I'm going to fix this in a crude way for the time being but may consider making HTTP::Header an Associative and implement AT-KEY etc over the field names later.

[2015-10-20 15:23] #101 closed

[2015-10-21 10:49] jonathanstowe commented on #100
It appears that this is infact something to do with URI

[code]

Will hang in exactly the same way as the RT ticket describes.

Added an issue to URI https://github.com/perl6-community-modules/uri/issues/21

[2015-10-22 12:49] jonathanstowe opened #103 "HTTP::Header.parse should remove quotes from beginning and end of values"
Found this while making an additional test for HTTP::Response with known data:

[code]

Where the header field is

[code]

[2015-10-22 12:49] jonathanstowe commented on #103
TODO'd that test for the time being

[2015-10-22 17:52] jonathanstowe commented on #97
Right, I think that should do for the time being.

Nearly every separate part of request() is in its own method and I hope I have laid the ground for further improvements.

Possibly more things can be moved into HTTP::Response but they are for later :)

[2015-10-22 17:52] #97 closed

[2015-10-22 18:36] jonathanstowe commented on #68
I'm thinking only saving the raw bytes while the response is being built and decoding on demand when .content or decode-content is called.  This would have same net effect as you describe (i.e. the bytes are available for inspection.)

This also means that the response can be returned quicker which may be of benefit if the content isn't particularly interesting for the application.

[2015-10-22 21:14] #103 closed

[2015-10-23 13:52] garu commented on #99
HI @jonathanstowe & @moritz :)

Now that #97 is closed, what do you think of this issue?

As an HTTP::UserAgent user, I think consistency is what's most important. I have my concerns regarding methods that behave differently depending on potentially distant actions such as checking the status code. While I do understand how most users might simply try and handle the contents without paying a secon

[2015-10-23 14:38] jonathanstowe commented on #99
Hi,
As it stands now unless ```:throw-exceptions```  is provided to the constructor an exception won't be thrown if enough of the response is returned to determine what the intent of the server was, if there is no response whatsoever or it returns garbage then an exception will be thrown as we don't know what the intent of the server was. That is to say it won't throw an exception based on the res

[2015-10-25 18:34] ugexe opened #105 "Missing Content-Length causes hang"
See:

    perl6 -Ilib -MHTTP::UserAgent -e 'HTTP::UserAgent.new.get("http://google.com/")'
    perl6 -Ilib -MHTTP::UserAgent -e 'HTTP::UserAgent.new.get("https://www.google.com")'

[2015-10-25 19:03] jonathanstowe commented on #105
It's probably my fault.  I may have missed something when I was carving up the request() method that stopped it from attempting to read from the socket when there was nothing else there.  However it's tricky because you can't be sure that you got the whole message, content and all, with the first read.

I'll take a look in the morning.

[2015-10-26 08:40] sergot commented on #97
That is awesome! Thanks ! :)

[2015-10-30 13:49] sergot commented on #105
Does @ugexe's solution help?

[2015-10-30 17:27] #105 closed

[2015-10-30 17:49] jonathanstowe commented on #105
Yay

[2015-10-30 18:06] sergot commented on #105
:+1: :+1: :+1: :+1: :+1: :+1:

[2015-11-02 08:24] azawawi commented on #92
This is fixed temporarily at the moment in https://github.com/sergot/http-useragent/commit/197a94edd3f9c7fec9b714b999c10a971fe77026.

[2015-11-02 08:29] azawawi commented on #83
```NETWORK_TESTING``` is now being used in https://github.com/sergot/http-useragent/commit/197a94edd3f9c7fec9b714b999c10a971fe77026.

@moritz as far as I can see ```RELEASE_TESTING```, ```NO_NETWORK_TESTING```, and even ```EXTENDED_TESTING``` were being used over the years in Perl land. I think we should solve this fragmentation. Why not a recommendation in [Perl 6 testing documentation](http://do

[2015-11-02 08:32] jonathanstowe commented on #92
Well it stops the test from failing :) :+1:

[2015-11-02 10:08] azawawi opened #112 "Refactor bin/ scripts into App::HTTP::UserAgent or move them to examples/ ?"
Discussion was on #perl6 IRC:
http://irclog.perlgeek.de/perl6/2015-11-02#i_11467750

[code]

[2015-11-02 10:14] jonathanstowe commented on #112
:+1:  I'd go with this, if nothing else it may encourage additional contributions as people come along just wanting to use the scripts rather than bother with the whole library.

@sergot your call in the end though :)

[2015-11-02 10:20] jonathanstowe opened #113 "Add standalone "cookbook" type document"
Hi,
It would be nice to have something similar to [lwpcook](https://metacpan.org/pod/distribution/libwww-perl/lwpcook.pod) if only if it heads off people complaining of not being able to do things that they think should be obvious.

Also it may encourage the adding of functionality to match peoples expectations.

[2015-11-02 10:47] sergot commented on #112
I created them in bin/ because installing p5's LWP includes them as well.

Anyways, I think we can move them to examples. :)

[2015-11-02 12:21] #112 closed

[2015-11-02 12:29] azawawi commented on #92
@jonathanstowe So what's the resolution on this one? :+1:

[2015-11-03 05:56] fayland opened #116 "304 throws 'server returned no data'"
➜  perl6-WebService-GitHub git:(master) ✗ perl6 test.pl
Internal Error: 'server returned no data'
  in method throw at /Users/fayland/.rakudobrew/moar-nom/install/share/perl6/runtime/CORE.setting.moarvm:1
  in method get-response at /Users/fayland/.rakudobrew/moar-nom/install/share/perl6/site/lib/HTTP/UserAgent.pm6:232
  in method request at /Users/fayland/.rakudobrew/moar-nom/install/share/perl6/

[2015-11-03 08:29] jonathanstowe commented on #116
Hi,
 I've merged your #115 so please check and close if it's good.

Thanks.

[2015-11-03 08:46] jonathanstowe opened #117 "Travis build broken"
I've tested the last merge locally and it is okay, but it is failing on travis-ci:

   https://travis-ci.org/sergot/http-useragent/builds/88959909

My current hypothesis is that something subtle changed in rakudo overnight.  Going to rebuild and test.

[2015-11-03 09:10] jonathanstowe commented on #117
Okay that is weird, just updated rakudo and all the other dependencies here and it doesn't fail. Will run the "installdeps" step  without "--notests" to try and isolate the problem.

[2015-11-03 09:21] jonathanstowe commented on #117
Grr,
heisenbug.  All passing now.  I'll leave the tests on the dependencies however as it allows us to catch issues downstream quicker.

[code]

[2015-11-03 09:21] #117 closed

[2015-11-03 09:25] jonathanstowe commented on #116
I think in the fullness of time it would be nice to move the responsibility for determining the "no content" for a given status into the HTTP::Status object and make the code one of those objects.

This could obviously be extended for other cases too.

[2015-11-03 09:52] fayland commented on #116
that's different bug. even merged 115 and it still fails. plz take a try. Thanks

[2015-11-03 09:56] jonathanstowe commented on #116
ah, need more coffee ;0)

Just looking.

[2015-11-03 09:57] jonathanstowe commented on #116
For reference:

[code]

[2015-11-03 09:59] fayland commented on #116
I think there is something wrong with the code to check header is over. and it dies before it reaches has-content.

Thanks

[2015-11-03 10:41] jonathanstowe commented on #116
Yeaah, I think it is returning *exactly* no content which is tripping up the detection, this is the response with P5 LWP::UserAgent:

[code]

I'm just about to go out, but will look at it later.

[2015-11-04 10:46] jonathanstowe opened #118 "\r\n grapheme change in rakudo breaks t/170-request-common.t"
I think that it's probably only the test itself but only one:

Investigating when I've rebuilt the rakudo on the laptop.

[code]

[2015-11-04 13:11] jonathanstowe commented on #118
This is actually worse now it crashes moar - will keep tracking as rakudo is a bit borked right now.

[2015-11-04 13:24] sergot commented on #118
wow, that's weird. do you need any help by now?

[2015-11-04 13:38] jonathanstowe commented on #118
It's in the hands of the MoarVM people right now as:

[code]

Which clearly can't be fixed from here :-\

[2015-11-04 15:37] jonathanstowe commented on #118
Right, as it currently stands,  rakudo moar is fixed and most of the tests are passing but there is some
fallout:

[code]

If anyone fancies pitching in at this point, I'm working it down but some of it is quite deep.

It's on

This is perl6 version 2015.10-165-g619d0a1 built on MoarVM version 2015.10-51-ga362d21

by the way.  It works fine on a rakudo more than a day or two old.

[2015-11-04 16:16] jonathanstowe commented on #118
The remaining issues are in the chunk parsing code. I've pushed the changes so far into the grapheme-fallout branch

[2015-11-04 17:42] jonathanstowe commented on #118
All good now,
Just needed changing the use of \r and \n in a few places.

[2015-11-04 17:44] #118 closed

[2015-11-04 18:19] jonathanstowe commented on #116
Okay I can see exactly what is going on here, the server is not sending a \r\n at the end of the headers because it doesn't have to. IIRC this is implied but not explicitly mandated by the spec (though my memory may be false of course.)  This can be fixed by making the check only when we need to find the content.

[2015-11-04 19:02] jonathanstowe commented on #116
Also, it was taking _any_ status that started with 3 as a redirect, which is clearly incorrect.

[2015-11-04 19:15] jonathanstowe commented on #116
I've included the example above as a test case, obviously this may change so we may need to re-visit.

[2015-11-04 19:16] #116 closed

[2015-11-05 00:57] fayland commented on #116
confirmed working. thanks

[2015-11-05 20:41] stmuk opened #121 "Failure to deal with many latin-1 webpages"
Examples are

http://www.w3.org/2006/11/mwbp-tests/test-encoding-8.html

"Test of a iso-latin-1 page served as text/html with proper charset parameter in HTTP header"

and

"Test of a iso-latin-1 page served as text/html with no declaration"

http://www.w3.org/2006/11/mwbp-tests/test-encoding-9.html

Patch with test in https://github.com/sergot/http-useragent/pull/120

[2015-11-06 10:56] jonathanstowe commented on #121
I've applied the #120 and the tests all appear to be passing.

It may be worth collecting some more tests from around the internets to make sure we're doing as well as possible.

[2015-11-06 10:56] #121 closed

[2015-11-21 06:16] GildedHonour opened #126 "Unable to send a simple POST request"
I cannot send a simple POST request, here's code in Python which works well:

[code]

And here's an attempt to do the same thing in Perl 6. But it returns Response error: '400 Bad Request':

[code]

[2015-11-21 06:53] GildedHonour commented on #126
Why does "add-content" add the arguments to the "headers" instead of "form"?

[code]
?

[2015-11-22 03:25] awwaiid commented on #126
Try this:

[code]

[2015-11-22 06:04] GildedHonour commented on #126
@awwaiid doesn't work
Default constructor for 'HTTP::Request' only takes named arguments

[2015-11-22 06:09] GildedHonour commented on #126
Actually, it says

===SORRY!===
Could not find HTTP::Request::Common in any of:

and when I was trying to reinstall or upgrade http-useragent, it said ran the tests and all of them failed.

[2015-11-22 06:50] GildedHonour commented on #126
And if install without running tests, when I'm running the source file by "perl6 test1.pl6", I get this:

===SORRY!=== Error while compiling /home/alex/.rakudobrew/moar-nom/install/share/perl6/site/lib/HTTP/Request/Common.pm6
Undeclared routine:
    uri-escape used at line 39

[2015-11-22 17:43] jonathanstowe commented on #126
Hi,
The code that @awwaiid posted works fine

And outputs:

[code]

So I'm not really sure of what is going wrong for you.

The error you last reported appears to be due to an out-dated version of the URI module.  The subroutine uri-escape is defined in the URI::Escape which is part of URI.  Could you try reinstalling URI and see what happens.

[2015-11-23 06:20] GildedHonour commented on #126
@jonathanstowe
@awwaiid
Ok, works, thanks. Is
[code]
no longer available? Or only 'POST(....)' is available from now for making post requests?

[2015-11-23 09:49] jonathanstowe commented on #126
The POST() (and its relatives) is really a convenient helper around the HTTP::Request constructor that ensures the correct encoding and content-type is applied.  The default constructor for HTTP::Request simply takes a "slurpy" hash of arguments of which one of the keys must be the request method with the value of the URI request, all of the rest of the pairs are taken to be header fields.  If som

[2015-11-23 12:18] GildedHonour commented on #126
@jonathanstowe , so what should I use instead of this

HTTP::Request.new(POST => $url, {field1 => 123, fiedl2 => "fdsfdsfds"});

?

This
HTTP::Request.new(POST => $url, {field1 => 123, fiedl2 => "fdsfdsfds"});
doesn't work as expected.

[2015-11-23 12:59] jonathanstowe commented on #126
Correct, that won't work. ```Default constructor for 'HTTP::Request' only takes named arguments```. the code you have is attempting to pass one named and one positional argument (the ```{field1 => 123, fiedl2 => "fdsfdsfds"}```).  If you lose the curly braces, then there will be a matching candidate but the addtional fields will be populated in the header, not as "content".

This is why the helper

[2015-11-23 13:01] GildedHonour commented on #126
@jonathanstowe, I'd like to know how to call the method. That's it.

[2015-11-23 13:42] jonathanstowe commented on #126
Right. In order to do what you were trying in your original post without using the POST() helper you would need to do something like:

[code]

It is not possible currently to supply any request body content to the constructor of ```HTTP::Request``` directly, so you have to supply the appropriate ```Content-Length``` and ```Content-Type``` headers and then set the correctly encoded content of the r

[2015-11-23 14:00] GildedHonour commented on #126
Thanks.

[2015-11-23 14:00] #126 closed

[2015-11-25 10:18] jonathanstowe opened #127 "Enrich the HTTP::Request interface"
As #126 suggests the simplicity of the HTTP::Request interface is somewhat confusing to people who are used to similar libraries in other languages.

To this end I propose adding some helper methods to simplify adding form data to POST requests by moving a small amount of that code from the HTTP::Request::Common (and have the helper subs there use the functionality in the request.)

This will also

[2015-11-25 10:52] jonathanstowe commented on #127
That is to say mostly removing most of the body of the ```multi sub POST(URI $uri, Array :$content, *%headers)``` candidate and the sub ```form-data``` from HTTP::Request::Common into HTTP::Request which will gain a multi add-form-data which will do these bits, but leaving the interface provided by HTTP::Request::Common unchanged.

[2015-11-26 17:53] #127 closed

[2015-11-26 18:01] jonathanstowe commented on #127
There.  The HTTP::Request now has an add-form-data and the helpers in the HTTP::Request::Common remain unchanged but now use the functionality in the Request object.

I've also moved the form-data and make-boundary subs as methods to aid future developments.

@tokuhirom you may want to just check that I haven't gone too far and it still works for your original use for HTTP::Request common, it pass

[2015-11-26 18:15] jonathanstowe commented on #126
Hi,
as a post-script to this, I have added an ```add-form-data``` method to the ```HTTP::Request``` such that the above working snippet can now become:

[code]

Producing the same result.  This paves the way, for example, for adding a wider range of constructor candidates if anyone feels the need.

[2015-11-28 11:44] jonathanstowe opened #128 "Installable request/response phase handlers"
Hi,
Perl 5's LWP::UserAgent has an add_handler()/remove_handler() methods that allow you to specify a sub-routine that will be run (with the request or response object as arguments,) at various phases of the HTTP conversation, thus allowing the user code to respond in a different way to the core code or to alter the request or response in a specific way depending on the circumstances.

A very spec

[2015-12-03 02:46] cbk opened #129 "HTTP::UserAgent usage"
I was looking for some guidance with the HTTP::UserAgent module…
* How do I exactly set the user agent if I wanted to change it.
* How would I send a request that includes an basic authentication information. (username and password)

I’m trying to send an HTTPS request to a Google service and it requires a user name a password.   So far I have just modified the basic example that is listed on the

[2015-12-03 08:45] jonathanstowe commented on #129
Hi,
the module supports HTTP Basic authentication in a relatively simple way via the auth method on the USerAgent object:

[code]
This is tested against precisely one server in the test suite so I wouldn't be entirely surprised if it didn't work for all possible servers.

You can set the User-Agent header by supplying the useragent argument to the constructor to the UserAgent:

[code]

You can cre

[2015-12-04 06:21] cbk commented on #129
Thank you. `The $ua.auth($login, $password);` is exactly what I was looking for.  I was on the right track with the useragent part, but still, much Thanks.

I now have a working program that will update an domain's IP address using google's Dynamic DNS API.
Working on making it into a Perl6 Module. (currently not working, but I'll get there.)  The HTTP::UserAgent module has come in useful, so than

[2015-12-04 06:21] #129 closed

[2015-12-04 08:24] jonathanstowe commented on #129
:+1:

[2015-12-11 19:22] ugexe opened #132 "JSON::Fast not needed as a dependency"
`from-json` is only used for a single test, and even then only parses a single string. Any speed benefit of using `JSON::Fast` is dwarfed by the additional install time (assuming it installs successfully at all) while adding the fragility of an additional dependency that is not needed

[2015-12-11 23:00] jonathanstowe commented on #132
If the test can be replaced without using the module I'm cool with that.

[2015-12-13 11:30] #132 closed

[2015-12-13 16:59] ugexe commented on #132
Not sure I understand the need for the check of &from-json... Is JSON::Pretty:.&from-json going to be removed from the Rakudo core?

[2015-12-16 16:45] sergot opened #133 "Tests fail"
According to https://reddit.com/r/perl6/comments/3x2tx5/http_client_module_recommendation/ and travis some tests fail.

Is there anything we can do to fix this quite fast?

[2015-12-16 17:04] sergot commented on #133
I cannot work on it right now, I can fix this tomorrow. :(

[2015-12-16 17:19] jonathanstowe commented on #133
It's this https://rt.perl.org/Ticket/Display.html?id=126832 I'm not sure if it can be fixed from here

[2015-12-16 17:25] sergot commented on #133
Ohh, didn't know that. :(
Thank you! :)

[2015-12-16 17:45] ugexe commented on #133
Sprinkling `no precompilation` at the top of the files will fix it

[2015-12-16 20:39] jonathanstowe commented on #133
That seems to work,

https://github.com/sergot/http-useragent/commit/be3f0fc0189af95835e6e1972e641c970d1d1b23

I'll try and back it out and see if there is one file which causes it.

[2015-12-16 21:33] jonathanstowe commented on #133
Build is now passing

https://travis-ci.org/sergot/http-useragent/builds/97315819

Needed to todo a couple of tests that are passing here which is some comparison thing.

[2015-12-17 10:23] sergot commented on #133
Looks great! Thanks @jonathanstowe and @ugexe !!! :)

[2015-12-17 10:23] #133 closed

[2015-12-20 11:31] Odud opened #134 "Failure in t/010-headers"
Method 'Int' not found for invocant of class 'HTTP::Header::Field'
  in method field at C:\Users\langb\dropbox\perl6\.panda-work\1450611045_1\blib\lib\HTTP\Header.pm6:58
  in block <unit> at t/010-headers.t:15

Windows 10 This is perl6 version 2015.09 built on MoarVM version 2015.09

[2015-12-20 11:33] Odud opened #135 "Failure in t/180-mediatype.t"
===SORRY!=== Error while compiling C:\Users\langb\dropbox\perl6\.panda-work\1450611045_1\blib\lib\HTTP\MediaType.pm6
Two terms in a row across lines (missing semicolon or comma?)
at C:\Users\langb\dropbox\perl6\.panda-work\1450611045_1\blib\lib\HTTP\MediaType.pm6:72
------> diaType.new(media-type => $content-type)<HERE><EOL>
    expecting any of:
        infix
        infix stopper
        stateme

[2015-12-20 12:05] jonathanstowe commented on #135
It's an old version of rakudo star, please try this with at least 2015.11 (can't really guarantee backward compatibility until there is a first stable release I'm afraid.)

[2015-12-20 12:06] jonathanstowe commented on #134
Please try this with at least 2015.11 (it is definitely passing the tests here.)

[2015-12-20 20:01] Odud commented on #134
Thanks Jonathan, the MSI binaries aren't yet available for 2015.11, so
building from source might give me something to do over Christmas 😉

Pete Barlow
On 20 Dec 2015 12:06, "Jonathan Stowe" <notifications@github.com> wrote:

[2015-12-20 21:09] jonathanstowe commented on #134
I'm also fairly certain that the 6.c stable(ish) release will be made this week at some point and there will be binaries available soon after.

[2015-12-20 22:04] Odud commented on #134
Thanks for that news, I will wait patiently as I was worried about building
from source...

Pete Barlow
On 20 Dec 2015 21:09, "Jonathan Stowe" <notifications@github.com> wrote:

[2016-01-13 19:30] muraiki commented on #100
For anyone considering using this module with `await`, it appears to be working now due to a workaround added to URI. The URI issue isn't resolved yet, but if you see this ticket don't give up on using `await`. :)

[2016-01-13 23:04] jonathanstowe commented on #100
Yep:
[code]

[2016-01-22 21:38] jonathanstowe opened #136 "PUT doesn't require content"
Need a guard to prevent a warning in Message when attempting to add content to the PUT request when there isn't any.

[2016-01-22 23:09] #136 closed

[2016-01-25 12:39] Skarsnik opened #137 "Split h:u:a in 2 modules"
Maybe it could be useful to move all the HTTP class to another module to make them usable to other http modules related, probably improving their qualities over time.

[2016-01-25 13:29] jonathanstowe commented on #83
I'm going to close this as the original problem has gone away and the wider discussion is probably best had elsewhere

[2016-01-25 13:29] #83 closed

[2016-01-25 13:34] jonathanstowe commented on #137
In the future this might be useful but for myself I think that some more work would have to be done to make this do-able.

Of course if you have any specific suggestions as to how this might be done then sure :)

[2016-01-25 14:06] jonathanstowe opened #138 "Deal with Content-Encoding"
Currently making a request to something that will return e,g, "Content-Encoding: gzip" willl end in disaster:

[code]

I think at the least and in the first instance it should just skip the decode part if the response indicates that it is encoded (simply retaining the buffer) so the user can pick the bits out of it later.  In the medium-term I think there should be pluggable encoding handlers.

[2016-01-25 14:28] jonathanstowe commented on #68
(Sorry for leaving this so long,)

I'm going to look at this as part of #138 where in the first place I'm going to throw an exception (X::Decoding) in decode-content which contains the original content and the whole response so the user can choose how to get the content out.

[2016-01-25 19:27] #68 closed

[2016-01-25 21:39] #138 closed

[2016-01-25 22:02] jonathanstowe commented on #138
I've made the requirement for Compress::Zlib optional at run-time and throws an exception like a missing IO::Socket::SSL in the case of https.

This still leaves a matter regarding binary data like images but I'm thinking about that.

[2016-01-25 22:05] jonathanstowe opened #139 "Don't attempt to decode binary data"
Only obviously text data should be attempted to decode to a Str, image, audio, video or obviously binary data should just be left as a Buf.

Not that difficult but there are some grey areas around application/* that may need clarifying.

[2016-01-26 09:17] jonathanstowe opened #140 "PUT/POST Should not stringify binary data"
If the content-type indicates PUT and POST should send the content as binary without decoding the body to a string.

For example PUT of an image to REST web service.

Part of this should flow out of the reverse case.

[2016-01-26 10:14] jonathanstowe opened #141 "Support for chunked requests"
It would be useful for large binary payloads and essential for streaming type applications to support "chunked" transfer-encoded PUT and POST requests.

For the streaming case a good pattern would be to be able to supply a Channel from which the chunks would be read and sent.  For the standard case the content could be chunked up on a fixed size or some heuristic.

[2016-01-26 10:16] jonathanstowe opened #142 ""Something wrong with cookies""
There are occasional mumblings about the Cookie handling, this is just to cover it off and for anyone who has a specific defect to make a failing test case or something.

[2016-01-26 22:30] #139 closed

[2016-01-26 22:30] #140 closed

[2016-01-28 12:11] Skarsnik commented on #142
The expire code is bad. I have weird issue with the function so I made it accept only expire-date with 2 digits to make the tests still work because the call to Parse Date die with value in the test (TEST1 or TEST2). But it will not expire cookie that have a expire date like '1hour'

[2016-02-05 09:33] Odud commented on #134
Running version 2016.01.1 on Windows 10 and now passes this test

[2016-02-05 09:33] #134 closed

[2016-02-05 09:34] Odud commented on #135
Running version 2016.01.1 on Windows 10 and now passes this test

[2016-02-05 09:34] #135 closed

[2016-02-05 09:41] jonathanstowe commented on #134
Yay!

[2016-02-05 09:42] jonathanstowe commented on #135
Yay!

[2016-02-14 13:21] okaoka opened #143 "Failed t/160-issue-67.t"
Hi

I faced the following situations.
[code]

My environment is
[code]

[2016-02-14 17:02] jonathanstowe commented on #143
I'm not seeing that here, I think it must be related to the local network conditions. It appears that the test expects that the content is returned in a single chunk, and that is indeed happening here (and I guess for the majority of other people,) but for some reason you are getting it in 9 tiny chunks.

The test is there to determine that the chunked transfer is being handled correctly, however

[2016-02-14 17:22] okaoka commented on #143
@jonathanstowe

The following is the raw response from punoftheday.com.
[code]

[2016-02-17 00:34] okaoka commented on #143
It think that the curl command with "--raw" option can't detect cause of this failure.
So, I added `@recv_log.perl.say;` line in "t/160-issue-67.t " file.

[code]

The result is
[code]

But sorry I don't have any idea to solve this failure.

[2016-04-12 09:02] jonathanstowe opened #144 "Handle remote end closing before header sent"
Currently if the remote host closes the connection without sending a complete status line the request dies with an unanticipated exception in the HTTP::Response constructor.

It would be better if this was detected and a synthetic "500" response was generated (and subsequently the user has a choice to throw an exception or not.)

[2016-04-12 10:10] jonathanstowe commented on #144
IN the first instance rather than returning a response it will throw an X::HTTP::Internal indicating that the header can't be found.

[2016-04-12 10:21] jonathanstowe commented on #144
I'll close this with that, however I think we need to consider catching all the internal exceptions and returning the synthetic response.

[2016-04-12 10:21] #144 closed

[2016-04-21 12:26] zoffixznet commented on #141
:+1:

[2016-04-27 18:14] zoffixznet opened #145 "Tests Hang"
Running the test suite and it hangs. Not sure which test it is exactly; I'm including full output of `prove`, the last test just sat there and I had to abort it:

[code]

[code]

[2016-07-16 20:25] zoffixznet opened #147 "Message Tests Fail"
Getting these failures. I can make them pass if I change [this conditional](https://github.com/sergot/http-useragent/blob/f4ec36b8eb327afafa9ced7fcea2dfeef4d4ba1e/lib/HTTP/Message.pm6#L36) to `||`, since it'll never be `Nil` at that place but can be `Bool::False`, but I'm unsure if this just masks the failure elsewhere.

[code]

[2016-07-18 17:18] jonathanstowe commented on #147
Cheers,
I'll take a look.

[2016-07-18 17:25] jonathanstowe opened #148 "Do not use HTTP_PROXY env var if found to be running in a CGI"
Allowing this would permit injection of an unwanted proxy via an HTTP request, when running as a CGI.

I'm not even sure if anyone is ever likely to make a CGI program in Perl 6, let alone one that uses H::UA but as everyone has been getting excited about this (because of go,) and it was fixed in the Perl 5 module fifteen years ago :)

[2016-07-18 18:43] jonathanstowe commented on #147
Hi,
I'm going to apply the change as you suggested as it won't break anything, however I think that probably it does indicate that it could use a type constraint lower in the code, but I'll get to that later :)

[2016-07-18 19:01] jonathanstowe commented on #148
This is https://www.kb.cert.org/vuls/id/797896

[2016-07-18 19:16] jonathanstowe commented on #148
Have gone for a simple solution whereby if $*ENV<REQUEST_METHOD> is set it will just ignore HTTP_PROXY for the time being, potentially using CGI_HTTP_PROXY and allowing it to be set in the constructor.

[2016-07-18 19:47] #147 closed

[2016-07-18 19:47] #148 closed

[2016-07-25 05:38] zoffixznet opened #150 "Issues with cookies."
I'm getting the error bellow when running my code. To reproduce:

[code]

[code]

[2016-07-25 05:53] zoffixznet commented on #150
Oh, never mind, I forgot to instantiate HTTP::UserAgent

[2016-07-25 05:53] #150 closed

[2016-07-25 14:45] zoffixznet commented on #145
Can no longer reproduce this.

Just a side note. I noticed this TODO test that mention travis; I get it failing on my local box too, so it's not just travis:

[code]

[2016-07-25 14:45] #145 closed

[2016-07-28 10:08] tomk3003 opened #151 "Tests fail with set HTTP_PROXY"
If there's an HTTP_PROXY environment variable it is used for the tests with a local test server.

Patching UserAgent.pm6 like this:

(from Line 326)

    multi method get-connection(HTTP::Request $request ) returns Connection {
        my $host = $request.host;
        my $port = $request.port;

        if not $host ~~ /localhost/ and self.get-proxy($request) -> $http_proxy {
            $request.

[2016-07-29 12:13] sergot commented on #151
feel free to create a PR for that :))

[2016-08-01 18:20] jonathanstowe commented on #151
I think it would probably be better to bring forward the no-proxy implementation I've been planning on for a while.  That way we can generalise which hosts *not* to use the proxy without hardcoding, and use this in the tests.

I'll take a look later or tomorrow.

[2016-08-02 13:09] jonathanstowe opened #152 "Implement NO_PROXY"
As indicated by #151 oftentime a connection to, for example,. "localhost" (though it could be a collection of hosts or a subnet or networks,) may not want to be proxied where the proxy might otherwise be used.

In the first instance this may result in test failures (as in #151,) where a local test server is to be used.

Because it is currently tricky to do name to address lookups in Perl 6, the fi

[2016-08-02 13:35] jonathanstowe commented on #151
I can confirm this BTW (I needed to set up a proxy to test the fix I am going to make,)

[2016-08-02 18:09] #151 closed

[2016-08-02 18:09] #152 closed

[2016-08-02 18:09] jonathanstowe commented on #151
That should be good now if you want to re-test

[2016-08-02 18:53] jonathanstowe opened #153 "May not be testing proxy with SSL enough"
When I was testing fixes for #151 and #152 it looked like with NETWORK_TESTING set AND http_proxy set to an otherwise good proxy the tests that do SSL (t/090-ua-ssl.t and t/100-redirect-ssl.t) fail.

I'm not sure if this is due to the implementation or the proxy I am using, if someone could test with a proxy that is known to work with SSL that would be cool.

[2016-11-05 16:48] astj opened #154 "HTTP::Cookies cannot parse cookies having `-` in names"
Hi.

I found `HTTP::Cookies` cannot parse some cookies.
Here're snippets to reproduce the problem.  Cookies having `-` in names are not parsed.
[code]

In current implementation, [`HTTP::Cookies::Grammer` defines `name` as `\w+`](https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Cookies.pm6#L20).  It seems the problem is due to this implementation.
[According to RFC6265](https://tools.

[2016-11-05 17:36] ugexe commented on #154
Its worth noting that an actual RFC based grammar for this is implemented in Grammar::HTTP:

    nickl@li685-90:~/perl6$ perl6 -MGrammar::HTTP -e '\

    ｢Set-Cookie: my-key=my-value｣
     Set-Cookie => ｢my-key=my-value｣
      cookie-pair => ｢my-key=my-value｣
       cookie-name => ｢my-key｣
       cookie-value => ｢my-value｣

[2016-11-05 19:18] jonathanstowe commented on #154
I was womdering that too

[2016-11-06 13:42] jonathanstowe commented on #143
I have actually seen this one now,  it was on a work network with a transparent proxy.   The problem is really with the test rather than the code itself.  I'll think of a way round this.

[2016-11-06 13:44] jonathanstowe commented on #154
It is probable that if it did use HTTP::Grammar then we can close the #142 as well.

[2016-11-06 13:52] jonathanstowe opened #155 "Add prototypes for multis"
While not strictly necessary it does stop people who are unfamiliar with what is going on from getting stuff like:

[code]

[2016-11-06 14:16] jonathanstowe commented on #154
In the spirit of agility however I think that I'll fix this without Grammar::HTTP, then attempt to implement that separately.

[2016-11-06 14:26] astj opened #156 "Respect response's Set-Cookie header on HTTP::Response#next-request"
Currently, `HTTP::Response#next-request` doesn't care about `Set-Cookie` header of the response (understand just [`Location` header](https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Response.pm6#L87-L104)).
So, If someone wants to request with some received Cookie (like session Cookie), one has to set Cookie manually like following:
[code]

I think it's useful if `HTTP::Response#next-

[2016-11-06 15:13] jonathanstowe commented on #156
Yep, that's almost certainly right, I'll see if I can do that this afternoon without breaking anything.

[2016-11-06 15:48] jonathanstowe commented on #156
Hmm this would be fine, if the domain check was implemented properly on the add-cookies :(

I'm going to put another issue in to fix that first, before doing this, as I'd rather not be making things actually more insecure than they are.

[2016-11-06 15:55] jonathanstowe opened #157 "Implement domain check on cookies"
Currently the cookies are sent on any subsequent request on the same useragent irrespective of the domain of the cookie.

The code in HTTP::Cookies is commented out and needs a proper implementation.

I think this should be done before the #156 as it would be less secure than it already is to be sending the cookies randomly on a redirect.

[2016-11-06 16:04] jonathanstowe commented on #154
I've adjusted the token to be somewhat more like the spec (i.e. any non white space character except one of the separators,) and it passes a test based on your example above.

[2016-11-06 16:07] #154 closed

[2016-11-06 16:07] #155 closed

[2016-11-07 01:18] astj commented on #154
Thanks!

[2016-11-14 15:52] vadz opened #158 "Confusing test failures during installation if something else is already listening on port 3333"
I've just lost some trying to understand why I was getting many test failures during HTTP::UserAgent installation and it turns out that some tests (110, 230, 250) rely on being able to listen on port 3333. If there is something else listening there (my own HTTP server, that I'm actually installing HTTP::UserAgent to work for!), the tests fail but the reason for their failure is not clear at all.

[2016-11-14 16:15] jonathanstowe commented on #158
I had thought about this several times and immediately forgot. It's what I made the [Test::Util::ServerPort](https://github.com/jonathanstowe/Test-Util-ServerPort) for.

I'll do this when I get in :)

[2016-11-14 20:41] jonathanstowe commented on #158
That should be sorted now, you may need to installdeps if you have a checkout.

[2016-11-16 18:25] Xliff opened #159 "Getting 'Cannot look up attributes in a OpenSSL type object' when attempting to GET a page using HTTPS"
I will attempt to golf a smaller use case than what I have, ATM.

[2016-11-16 19:46] jonathanstowe commented on #159
We will need a reproducible case, because it definitely works in all the cases that have been tested.

[2016-11-16 20:10] Xliff commented on #159
Well, the only thing I have right now is a script that is part of a package that is still under development. I can send you that script, but I know most people expect a more targeted case.

My problem is I am not sure why this occurs, so pairing things down to just the essentials is difficult.

Said script also depends on _private_ data, which I am not at liberty to disseminate. I think it has som

[2016-11-17 10:07] Xliff opened #160 "HTTP::UserAgent appears to fail on redirects."
This is one use case I have found:

This one-liner will attempt to call a page, which redirects somewhere else on the site.

[code]

Looking at the debug output:

[code]

It appears that the code isn't properly interpreting the redirection.

If the code is pointed directly to the page in the Location header, it works just fine:

[code]

Am I doing something wrong when making the first request?

[2016-11-17 14:53] jonathanstowe commented on #160
I can already see from that what is going on there, it's kind of moot whether it shouldn't be an error to be honest. Let me test.

[2016-11-17 15:28] jonathanstowe commented on #160
Actually it was two bugs for the price of one,  it wasn't passing on the 'scheme' of the original request if the URI on the location wasn't absolute and wasn't dealing with the arguably non-compliant location header very well.

[2016-11-17 15:30] #160 closed

[2016-11-17 17:25] Xliff commented on #160
Thanks for looking in to the problem, and for the quick fix!

[2016-11-18 12:58] vadz commented on #158
Thanks for the fix!

I'm not sure if it's a real problem or not, but doing `zef install HTTP::UserAgent` now fails with:
[code]

It did work after a manual `zef install Test::Util::ServerPort`, but shouldn't it have been installed automatically? I do see it in `test-depends` in `META.info`, so it looks like it ought to work, but it definitely didn't work here...

[2016-11-18 13:18] Xliff commented on #159
This seems like a similar error and will probably serve as a better use case:

[code]

Gives a different, but similar error:

[code]

[2016-11-18 13:43] jonathanstowe commented on #158
No that is a problem, of course it is tricky to test when I already have Test::Util::ServerPort installed.

[2016-11-18 13:44] jonathanstowe commented on #159
Yeah, it has to be something that we would be able to put in a test case.

[2016-11-18 13:49] vadz opened #161 "Mysterious "Cannot invoke this object" error message when using zlib compression"
While using other URIs works just fine, this one results in a mysterious error, apparently due to the use of zlib compression:
[code]

[2016-11-18 13:57] jonathanstowe commented on #161
The ```mysterious error``` looks like a bug in Compress::Zlib to me, (it is is using that to inflate the compressed body of the response.)  I'll take a look when I get home from work.

[2016-11-18 13:58] jonathanstowe commented on #161
Of course when I say bug in Compress::Zlib, it is almost certainly doing something that is actually triggering a well known bug in rakudo.

[2016-11-18 13:59] vadz commented on #161
Yes, sorry, I wasn't actually sure if it was a bug in this module or Compress::Zlib... Please feel free to close this and tell me to reopen it there. Or just close it if it's really a rakudo bug.

[2016-11-18 14:39] jonathanstowe commented on #161
I'll take a look first before anything else, it could be something simple.  At the very least it's always worth having a test for HUA in these cases. :)

[2016-11-18 17:34] ugexe commented on #158
I think this was a bug with zef using a cached copy of the previous install with the updated meta data fetched from the ecosystem. Will investigate.

[2016-11-18 17:38] ugexe commented on #158
Er, I mean the other way around: it's fetching the updated module but using a cached meta file (which wouldn't have the additional dependency listed)

[2016-11-18 19:44] jonathanstowe commented on #161
Hmm. okay that appears to be failing in the tests we have as well.  Better take a look at the Compress::Zlib too :(

[2016-11-19 08:58] jonathanstowe commented on #161
Well in the good news I have tracked down the cause of the problem in Compress::Zlib::Raw, it's a weird one and something very funny is going on with rakudo but I can't reproduce it out of this specific case at the moment.

You will need to reinstall the Compress::Zlib::Raw when the PR there is merged.

[2016-11-19 09:14] jonathanstowe commented on #161
And it all works, so I'll close this now:

[code]

If you want to use this before the PR is merged you can download and install my fork of Compress::Zlib::Raw

[2016-11-19 09:14] #161 closed

[2016-12-21 07:19] nige123 opened #162 "Problem installing with Panda"
Hi,

I'm using the latest version of Perl 6:

This is Rakudo version 2016.12-49-gb8df3a6 built on MoarVM version 2016.12-6-g65acd55
implementing Perl 6.c

and got this error:

[code]

HTH

[2016-12-21 08:56] jonathanstowe commented on #162
That'll be the lexical use change that came in Rakudo the other day.  Hadn't got round to testing H::UA yet.  Will fix ASAP.

[2016-12-21 09:05] #162 closed

[2017-02-19 15:33] bbkr opened #163 "Weird debug info printed"
There is some weird debug line printed during some requests:

[code]

Looks like its something in Cookies code, because response headers are:

[code]

Module and dependencies installed on 2017.01 Rakudo on 2017-02-19.

[2017-02-19 15:53] astj commented on #163
Maybe this line? https://github.com/sergot/http-useragent/blob/master/lib/HTTP/Cookies.pm6#L40

[2017-02-19 16:45] jonathanstowe commented on #163
Weird, that's been in there for a year and no-one noticed before. Clearly that branch isn't well tested :)

Fixing.

[2017-02-19 17:40] #163 closed

[2017-02-19 17:45] jonathanstowe commented on #163
Removed that and added an additional test.

[2017-02-20 17:22] astj opened #164 "Cannot connect some domains (maybe with ipv6?)"
Hi. I found HTTP::UserAgent cannot establish connection to some domains in my environment (macOS 10.12, moarvm 2017.01 and 02).

Examples1: can connect http://design.perl6.org/, but not http://example.com/. (this causes failure of t/070-simple.t )
[code]

Example 2: can connect (but redirected to https) to http://github.com/, but cannot connect to http://google.com/
[code]

I investigated that thi

[2017-02-20 20:39] jonathanstowe commented on #164
Your summary is pretty much correct, this has been reported before and is the subject of a bug report against rakudo at  https://rt.perl.org/Public/Bug/Display.html?id=123282 - I'm not sure whether anything has changed much with IO::Socket::INET with regard to it passing the family argument to the underlying implementation which would be necessary to do the thing with trying the V6 address first a

[2017-02-20 20:40] jonathanstowe commented on #164
See also #92

[2017-02-21 01:56] astj commented on #164
I see.  Is is possible to skip those tests without `%*ENV<NETWORK_TESTING>`, like #92?
(Or as an another workaround, change the host example.com to somewhere doesn't have ipv4 address may work...)

[2017-02-21 16:02] CIAvash opened #165 "260-no-proxy.t test failures caused by environment variables"
The [260-no-proxy.t](https://github.com/sergot/http-useragent/blob/f052995417ce7c7f4718d6957021b94b5dca2d2b/t/260-no-proxy.t#L10) test file sets this environment variable:
[code]
The tests expect `$ua.no-proxy` to return those values, but if `no_proxy` environment variable is set in your shell, the values will differ and the tests will fail. From [UserAgent.pm6](https://github.com/sergot/http-user

[2017-02-21 19:40] jonathanstowe commented on #165
Good catch.  Will delete the unwanted environment.

[2017-02-21 19:58] bbkr commented on #163
Thanks for quick fix!

[2017-02-21 20:31] jonathanstowe commented on #164
Yes I've also changed the domain to one where there isn't an AAAA

[2017-02-21 20:34] #164 closed

[2017-02-21 20:34] #165 closed

[2017-03-23 10:16] zoffixznet opened #167 "Failing Tests on 2017.03-17-g1132b1a"
I fixed [two failing test files](https://github.com/zoffixznet/perl6-WWW/issues/1) in a PR I sent, but last one is still unfixed. HTTPS works just fine for, say, github. Perhaps the test is bogus or the server-sent-no-response detection is wrong?

[code]

[2017-03-23 20:51] jonathanstowe commented on #167
The IO::Socket::SSL isn't dealing with the SSL error very well, but it's between the server's SSL implementation and OpenSSL :

[code]

[2017-03-23 21:25] jonathanstowe commented on #167
Ah The IO::Socket::SSL  needs to be provide Server Name Indication https://en.wikipedia.org/wiki/Server_Name_Indication - will see if that can be sorted

[2017-04-01 00:27] AlexDaniel opened #169 "Memory leak"
Sometimes around ≈20MB per fetched page.

Feel free to try it yourself (I was using blead rakudo):
[code]

[2017-04-01 05:32] MasterDuke17 commented on #169
With https://github.com/sergot/openssl/pull/37 applied the leak is significantly reduced. I changed the code to loop just ten times and profiled with heaptrack. It showed 10Gb allocated before and only 268Mb allocated after.

[2017-04-01 05:42] AlexDaniel commented on #169
@MasterDuke17 sounds awesome!

That said, I don't think it is good enough.

[2017-04-01 12:59] MasterDuke17 commented on #169
https://github.com/sergot/openssl/pull/38 reduces the memory used even further, down to 187Mb.

[2017-04-01 14:19] jonathanstowe commented on #169
Leaving aside the SSL thing, there is a built-in growth in memory consumption that is *by design* (though arguably not entirely sensible design,) as it saves every response in order to attempt to detect redirect loops,  This is appended to the attribute ```history``` on the UserAgent object, so you can reset that whenever you see fit.

Testing against a non-SSL URI with an additional ```$ua.histor

[2017-04-01 15:42] AlexDaniel commented on #169
@jonathanstowe ok, that makes sense!

However, I'm not sure how redirect loops are related to this “feature”? If I'm doing a new request, why would it need something from the history?

[2017-04-01 16:07] jonathanstowe commented on #169
I'm not entirely convinced either but the code does :

[code]
Which basically checks whether the last *max-redirects* responses were re-directs. It's actually a bit tricky. I guess the best that you could do (and preserve this check,) is keep a count of the redirects and reset it when you get a non-redirect.  Of course better suggestions would be appreciated (and being Saturday my brane is somewha

[2017-04-01 16:11] moritz commented on #169
Or for a start, only store the headers, not the bodies...

[2017-04-01 16:16] jonathanstowe commented on #169
there's a long standing comment in there that say's just that :)

[2017-04-01 17:14] AlexDaniel commented on #169
I'm still not sure why it has to store anything after ``.get(…)`` is finished.

[2017-04-01 17:22] moritz commented on #169
pull request forthcoming, as a basis for discussion.

[2017-04-01 17:45] jonathanstowe commented on #169
It seems to pass the tests and I quite like it, but I was going to go for something slightly more conservative and use an :save-history on the request, which is only set by default on on the redirect (so that part can remain unchanged) and if it isn't set rest history at the end of request.  That way the same strange behaviour can be retained but not by default.

[2017-04-01 19:02] moritz commented on #169
@jonathanstowe there are two things here I don't understand. First, who benefits from retaining the strange behavior, particularly if it's not always enabled? At least inside the public ecosystem, there's no usage:

[code]

(The mention of `history` in `zoffixznet/perl6-RT-REST-Client/lib/RT/REST/Client.pm6` is part of an URL, and unrelated to the `.history` method).

And second, how does that wor

[2017-04-01 19:46] ugexe commented on #169
I think the original intention was eventually keep just the headers and allow some way for the Request to transparently store the content history to and from disk. But there have been lots of improvements to the architecture of HTTP::UserAgent since the redirect code was written, so module space could probably provide the content storage portion easily now.

[2017-04-02 08:21] jonathanstowe commented on #169
As I noted on the #170 I'd be inclined to move the redirect chain into the response object for those cases where something more sophisticated is required ( this could be as simple as adding a ```previous-response``` attribute to request and populating this in the ```next-request```,  however right now as we are simply doing a count on the previous redirects anyway @moritz PR seems to be a sound so

[2017-04-08 21:00] MasterDuke17 commented on #169
https://github.com/sergot/openssl/pull/38 was just merged.

[2017-04-23 02:39] zostay opened #171 "The .Str method gets confused by binary $.content in HTTP::Message"
If I build an HTTP::Response object that places a Buf in $.content, the .Str method will fail with the following exception:

    Cannot use a Buf as a string, but you called the Stringy method on it
      in method Str at <snip>/.rakudobrew/moar-nom/install/share/perl6/site/sources/36<snip>64 (HTTP::Message) line 231
      in method Str at <snip>/.rakudobrew/moar-nom/install/share/perl6/site/sourc

[2017-04-23 08:58] jonathanstowe commented on #171
Hi,
as it currently stands you can pass ```:bin``` to the  ```.Str``` method and it will attempt to do something sensible.  Obviously this doesn't help if the ```.Str``` is being called implicitly somehow.

I guess, as long as the content-type is set appropriately, it could try harder, bearing in mind that it both wants to send actually binary data as well as text data that may be in an encoding t

[2017-04-23 21:26] zostay commented on #171
The `:bin` arg is irrelevant in this case. The same error occurs. Here's a code snippet demonstrating:

[code]

The need for "priming" is a minor annoyance but might be considered a bug as well.

[2017-05-03 16:26] zoffixznet opened #174 "No such method 'new' for invocant of type 'IO::Socket::SSL'"
This is a Shrodenbug: I could reliably reproduce it by re-delivering GitHub hook or issuing a `ver` command to [bot Geth](https://github.com/perl6/geth) that used equivalent of command:

[code]

And it crashed with the error below.

However, I couldn't reproduce the error with the command line script and it disappeared after I restarted the bot. So I've no idea what caused it (could be something i

[2017-05-03 16:26] #174 closed

[2017-05-03 20:55] zostay commented on #171
Actually, that example does not work. I had not realized that `"".encode ~ ""` was a legal operation. This code actually demonstrates the problem I'm seeing:

[code]

The UserAgent itself avoids this problem. It would only come up with code that was putting bufs into the HTTP::Message without the help of UA, which had not yet been careful about encoding. Perhaps the onus is on the caller to be tha

[2017-06-19 13:37] kokinarido opened #176 "Is it able to follow to a new pages, status 301?"
Curl is able to follow a request: when a request returns the status 301, curl is able to automatically make one more request, namely, it'll automatically load a new url which is said to be followed. Is this library able to follow a request too?

[2017-06-19 15:51] ugexe commented on #176
What have you already tried?

[2017-06-20 08:11] kokinarido commented on #176
@ugexe  get out of here, stupid stackoverlow'er

[2017-06-20 12:29] moritz commented on #176
Please mind your manners, @kokinarido. Also this is a bug tracker, not a support forum. If you have a bug to report, please include the code that demonstrates the bug.

[2017-06-20 12:29] #176 closed

[2017-07-01 10:38] cschwenz opened #177 "HTTP::UserAgent fails one exception test on MacOS 10.12.5"
[code]

the `perl6 --version` is:
[code]

[2017-07-01 14:57] jonathanstowe commented on #177
That's odd on two fronts, a) that looks like a network test that shouldn't be run without the NETWORK_TESTING and b) it looks like the server end did something unexpected.

Let me have a look.

[2017-07-01 15:11] jonathanstowe commented on #177
Oh right, I'd forgotten what that test actually did.  It deliberately checks that behaviour by starting up a server that just closes the connection :-\

I guess the underlying network implementation differs sufficiently on Mac OS that it gives rise to the exception rather than just returning no data.

Unfortunately I'm not in a position to test a fix as I don't have a Mac

[2017-07-01 17:08] cschwenz commented on #177
any suggestions on how to fix?

i'm okay with putting together a pull request, just need some direction on what a correct fix would look like.

:-)

[2017-07-07 16:31] pierre-vigier commented on #177
As a temporary solution, you can install the module with the --force flag,

I tried to golf a bit the code, and here is what i found, basically, the test is creating a server that instantly close all the connections, and try to connect to it.

I tried the following, in script1:

[code]

if i run that and in another console, i run a second perl6 script:

[code]

i can connect to the socket, and i s

[2017-07-07 16:40] pierre-vigier commented on #177
Also

[code]

that script triggers an exception if sleep 1 is commented, but not it uncommented, migth be some timing issues as well

[2017-07-07 16:41] ugexe commented on #177
[code]
@pierre-vigier This works as a single script *if* there is sufficient time for the server to get setup (for me, locally, this works unless you comment out the `sleep 1`)

[2017-07-08 00:45] pierre-vigier commented on #177
Yes, i agree that would work, but i was trying to golf the problem that is exposed by the test which is broken.
However, the exception we receive is Connexion reset by peer, so i'm starting to think that maybe, the behaviour is normal, but should be handle differently by the module, HTTP::UserAgent in that case is expecting a HTTP::UserAgent::X::HTTP::Internal, got an X::AdHoc, however the message

[2017-07-08 05:23] pierre-vigier commented on #177
In `t/250-issue-144.t` the server created in the test is directly closing a connection, like following:

[code]
if i run the test like that on linux it's working, on Mac, i have a connection reset by peer.
However, on Mac, using another script to do the rest of the test (basically, running the server in one perl6 command and the test itself in another one), then it's working.

If i add a sleep bef

[2017-07-09 08:48] jonathanstowe commented on #177
I'm pretty certain that the fix is to catch the "reset by peer" exception in the get-response method and throw the appropriate exception.  I just haven't got round to it yet.

[2017-07-09 09:22] jonathanstowe commented on #177
I've just pushed a possible fix to the mac-reset-fix branch is someone on a Mac wants to try that.  I'll merge later if it works.

[2017-07-09 14:08] pierre-vigier commented on #177
I had a similar fix in local, and indeed it's working, i just test your branch and it is working for the test case. I guess you can merge.

However, are we not hiding another bug here? How come, on mac the server is returning connection reset by peer if you call it "instantly" but will reply with no data later on. At least, that what IO::Socket::INET is seeing. Anyway, tests are passing without is

[2017-07-11 19:25] jonathanstowe commented on #177
If there is a deeper bug it's not in H::UA so we need to work around it.  The difference in behaviour might be reportable as a rakudo bug if anyone wants to report it.

I'll merge and close this issue though.

[2017-07-11 19:29] #177 closed

[2017-08-05 06:44] nige123 opened #178 "Problem installing HTTP::UserAgent after Bailador"
I recently upgraded to Rakudo 2017.07 - after installing Bailador with zef I installed HTTP::UserAgent.

Starting Bailador now gives the error:

===SORRY!===
P6M Merging GLOBAL symbols failed: duplicate definition of symbol Response

Is it possible there is a symbol clash with 'Response'?

[2017-08-05 10:14] jonathanstowe commented on #178
yes, there may well be if Bailador or one of its dependencies has an HTTP::Response or possibly even just a Response in some other namespace.  I think it may be because Bailador doesn't specify  an "auth" in its META6.  HTTP::UserAgent itself goes out of its way to fully qualify its own HTTP::Response and HTTP::Request  with the appropriate auth and ISTR I sent a patch for HTTP::Server to avoid th

[2017-08-07 12:38] nige123 commented on #178
Hi,

Thanks for the explanation. :+1:

Here is some code that shows the problem ...

shell> rakudobrew build moar 2017.07
shell> rakudobrew build zef
shell> zef install Bailador
shell> zef install HTTP::UserAgent
shell> echo 'use Bailador; use HTTP::UserAgent' > boom.p6
shell> perl6 boom.p6
===SORRY!===
P6M Merging GLOBAL symbols failed: duplicate definition of symbol Response
shell> echo 'use HTT

[2017-08-11 03:21] ugexe commented on #178
The problem seems to be related to 3 things:
1) `HTTP::UserAgent` has a `X::HTTP::Response`
2) `HTTP::Response` has a `X::HTTP::Response`
3) Bailador has put something in either the `X::` or `::Response` namespace

1 and 2 seems to be trying to avoid circular dependency re `X::HTTP` base class. But by removing `X::HTTP::Response` from `HTTP::UserAgent` it no longer has merge failures (although it

[2017-08-11 05:47] jonathanstowe commented on #178
Yeah I was hesitating on calling it as a rakudo bug without collecting some tangible evidence but yeah I was inclining toward that position.  I'll take a look at the weekend to see if we can work around this.

[2017-08-12 08:16] jonathanstowe commented on #169
Are we happy with this now so it can be closed?

[2017-08-12 09:41] jonathanstowe commented on #178
Having  had a quick look I think the sensible thing to do would to move all the exception classes into a single module and rationalise the names somewhat as this is not ideal by any standard :)  Even if there is a bug in the Stash merge somewhere it will be neater and prevent any future problems.

[2017-08-12 12:30] jonathanstowe commented on #178
For what it's worth, doing what I described above and using the more complex version of ```X::HTTP::Response``` *just works* and fixes the problem with Bailador.  The *just working* thing may however may be due to insufficient testing of the exceptions, I'll try and improve this as well.

[2017-08-12 12:38] AlexDaniel commented on #169
No, I am not. It is still leaking memory. Just run the example and see yourself.
It may be due to [RT #131879](https://rt.perl.org/Ticket/Display.html?id=131879), I don't know.

[2017-08-12 13:43] MasterDuke17 commented on #169
i'm only seeing a tiny leak. Memory usage goes up for a while, but then pretty much stabilizes.

[2017-08-12 14:24] jonathanstowe commented on #178
I'll merge the above branch in a bit unless someone finds a problem with it.

[2017-08-12 16:22] #178 closed

[2017-08-12 16:51] jonathanstowe commented on #169
Yeah I'm not seeing the memory use monotonously increasing, it goes up for a bit then stays flat as, I guess, the garbage collection starts to take back the unused objects.

[2017-08-12 18:03] AlexDaniel commented on #169
Actually, yes! It turns out that I was using an old version. D'oh! Sorry!

IMO it's closable. I don't know if you want to have tests for this, so feel free to reopen.

[2017-08-12 18:03] #169 closed

[2017-08-12 18:36] jonathanstowe commented on #169
Yeah I'd like to have a test but I can't see how to do it without shelling out to some highly platform dependent tool.

[2017-08-12 19:11] nige123 commented on #178
Thanks for sorting this ! 👍

[2017-08-12 19:20] jonathanstowe commented on #167
@zoffixznet this should have been fixed by https://github.com/sergot/openssl/commit/3c154e98afb45a99e2fa83d6957e8ff9543139bf on the OpenSSL can it be closed now?

[2017-08-12 19:48] AlexDaniel commented on #169
Check the OS and maybe use [Linux::Proc::Statm](https://github.com/Skarsnik/p6-linux-proc-statm). It's much better to have a test that only runs on Linux than to have no test at all.

[2017-08-12 20:12] zoffixznet commented on #167
Can't test ATM, but I'll asume the answer is "yes"; thanks.

[2017-08-12 20:12] #167 closed

[2017-08-28 13:13] wictory opened #179 "Crash on closed socket in the middle of request."
Hi!

When I'm connecting to a server which times out, and closes the connection, in the middle of the request, the whole MoarVM crashes for me instead of giving me an exception.

How to reproduce:
Start up server.p6 and run client.p6 from [this gist](https://gist.github.com/wictory/289cffa3aba0ee882097b2496754d03f), one can after this see that `moar`starts using 100% CPU, and nothning more happens

[2017-08-28 13:27] jonathanstowe commented on #179
I think you are going to have to be more specific about what actual error you are getting as here with a fairly recent version of  HTTP::UserAgent I get the expected exception from the request:

[code]

The rakudo version from ```perl6 -v` would be useful too.

[2017-08-28 14:01] wictory commented on #179
Hi!
[code]

When I have
[code]
, I get the same error as you. It seems that when I copy-paste the code from the gist, the extra newline gets lost, do you have the same situation?

[2017-08-28 14:52] jonathanstowe commented on #179
Ah I see now. Yes it appears to trying to get the body and not getting the close signal.  I'll have a better look.

[2017-08-28 16:08] jonathanstowe commented on #179
Ha, found it!  In the code that gets the chunked body there is a clause which attempts to get a single byte which has a comment:

[code]
Except it doesn't check whether it got a byte or not, so it carries on attempting to get the incomplete chunk forever.  I think it should probably throw an exception in this case, but in the first place I'll commit a fix that doesn't as I think the chunked case i

[2017-08-28 16:43] #179 closed

[2017-09-14 11:34] jonathanstowe commented on #100
I think this can be safely closed now.

[2017-09-14 11:34] #100 closed

[2017-09-28 09:43] Xliff opened #181 "HTTP::Headers with a value starting with "W" have that "W" removed."
This makes date fields that fall on a Wednesday unparseable, and may also cause some base64 fields to not work properly.

Consider the following examples:

[code]

This is addressed in #180

[2017-10-17 21:44] sergot commented on #181
Can we close it since it's resolved in #180  ?

[2017-12-29 17:53] zoffixznet opened #184 "Some tests still try to use the network even when NETWORK_TESTING is not set"
Spotted this [in a travis run](https://travis-ci.org/zoffixznet/perl6-WWW-P6lert/jobs/322747567#L1650):

[code]

[2018-02-03 21:02] bbkr opened #185 "Test 'right exception type (HTTP::UserAgent::Exception::X::HTTP::Internal)' fails on windows"
Installed through zef on AppVeyor with `os: Visual Studio 2015`:

[code]

[2018-02-08 18:32] AlexDaniel opened #186 "Memory leak (+ unreasonably high maxrss)"
There is a [rakudo ticket](https://github.com/rakudo/rakudo/issues/1501) with more details, but I think it's a good idea to keep another ticket here so that we can discuss HTTP::UserAgent-specific things.

[2018-02-16 00:24] AlexDaniel commented on #186
This seems to be resolved by improvements to rakudo and by changes to this module in https://github.com/sergot/http-useragent/pull/187.

That being said, https://github.com/sergot/http-useragent/pull/187 has to be reverted for now because it [has a bug] somewhere.

So this issue can be closed once #187 is resubmitted and merged…

[2018-03-10 17:58] bbkr commented on #184
This breaks CI for other modules using HTTP::UserAgent: https://travis-ci.org/bbkr/jsonrpc/jobs/351673499 .

[2018-03-13 04:40] zostay opened #189 "Binary file support for multipart/form-data"
I happily discovered that the `multipart/form-data` handling here is close to what you can do with LWP in Perl. However, while something like this will work fine:

[code]

This will not:

[code]

The exception is:

The problem is that the file is being slurped as text, when there's no way of knowing what the format of the original file is. The slurping ought to be done in bin mode, but that will l

[2018-03-15 19:00] relonger opened #190 "Respect throw-exceptions in case of exceeding max redirects limit"
[code]

[2018-03-17 00:22] relonger opened #191 "Segmentation fault using https in multi-threaded environment"
[code]
generates:
[code]

or just:
[code]
using HTTP is fine, so problem is somewhere in IO::Socket::SSL

my versions:
[code]
[code]

[2018-03-17 00:35] AlexDaniel commented on #191
I got segmentation fault even when I had no `IO::Socket::SSL` installed. Interesting.

[2018-03-17 00:39] AlexDaniel commented on #191
Not reproducible on whateverable, which is even more interesting. FWIW another simple SEGV: https://github.com/rakudo/rakudo/issues/1202

[2018-03-17 00:44] AlexDaniel commented on #191
Also, FWIW, pretty much any segfault is a rakudobug. So please submit a rakudo ticket once there's more info.

[2018-03-17 00:49] relonger commented on #191
Overriding get-connection, surrounding it with lock, and using my UserAgent2 instead of UserAgent seems to solve the problem.

[code]

[2018-04-04 00:47] briandfoy commented on #191
https://rt.perl.org/Public/Bug/Display.html?id=133057

[2018-04-04 02:32] briandfoy opened #192 "oauth endpoint http://oha.it/t/auth/ is 404"
The endpoint in t/085-auth.t is no longer there.

[2018-04-04 13:57] #192 closed

[2018-04-20 09:09] stmuk opened #195 "Dependency on IO::Socket::SSL"
I don't think IO::Socket::SSL should be a hard dependency. This causes problems with Rakudo Star since it doesn't include OpenSSL. In the forthcoming release I'll probably have to stick with the version before this change (unless the IO::Socket::SSL dependency is reverted to being optional).

[2018-04-20 18:41] johnsaigle opened #196 "ex_readme.p6 gives an Internal Error"
[This example](https://github.com/sergot/http-useragent/blob/master/examples/ex_readme.p6) gives the following errors:

[code]

I'm using OS X Sierra.

Perl6 version:
[code]

[2018-04-28 22:58] bbkr opened #197 "t/010-headers.t fail"
[code]

Rakudo HEAD.

[2018-04-28 23:25] ugexe commented on #197
Caused by recent hash seed randomization improvements

[2018-05-03 20:33] johnsaigle commented on #196
@jonathanstowe You could be right that this is an OpenSSL issue -- however I am working on OS X and afaik Apple uses its own TLS libraries for... things?

I've been trying to get help for this on the #perl6 irc channel and on [StackOverflow](https://stackoverflow.com/questions/49947964/how-can-i-interact-with-the-github-api-using-perl6) which led to @zoffixznet creating [this Gist](https://gist.gi

[2018-05-25 10:56] hkdtam opened #199 "install failed during testing"
Hi,

My environment is

`perl6 -v
This is Rakudo version 2018.05-18-g7e3aa2f built on MoarVM version 2018.05
implementing Perl 6.c.
`

Here are the relevant error bits, thanks in advance for the help.

`===> Testing: HTTP::UserAgent:ver<1.1.40>:auth<github:sergot>
Cannot use a Buf as a string, but you called the Stringy method on it
  in block  at /home/david/.rakudobrew/moar-master/install/share/

[2018-05-30 14:03] leedo commented on #197
This is still failing. I don't tihnk `is-deeply` would work for string comparison?

[2018-05-30 14:06] ugexe commented on #197
@leedo see https://github.com/rakudo/rakudo/issues/1880 which might be related to what you are experiencing if you can correlate the behavior and rakudo versions mentioned.

[2018-05-30 14:12] leedo commented on #197
The particular error I'm seeing is below:
[code]
This is with the latest `http-useragent` git revision, and master branch of rakudo/nqp/MoarVM. I'd say it happens about 50% of the time the test is run.

[2018-05-31 16:22] JJ commented on #199
Same problem here...

[2018-06-06 14:14] zoffixznet commented on #199
This problem still exists.

[2018-06-06 14:14] zoffixznet commented on #197
This problem still exists.

[2018-06-06 14:22] zoffixznet opened #201 "Order of received headers not preserved"
All the headers are being passed around in a Hash, which doesn't keep around the order in which the items were added. Rakudo implementation used to preserve the order as a limitation of hash implementation, which has been recently fixed. There are tests in the test suite that rely on the buggy, non-randomized order and they're now failing (https://github.com/sergot/http-useragent/issues/197 https:

[2018-06-18 16:18] #197 closed

[2018-06-18 16:18] #199 closed

[2018-06-21 07:03] vnluc opened #205 "Installation fail on Windows 7 64bit"
I am using version 2018.05

When I try install command, this is the output of error.

zef  install HTTP::UserAgent

[code]

[2018-06-25 22:18] AlexDaniel opened #206 "HTTP::UserAgent.new(timeout => 10) does not set the timeout but probably should"
I was expecting this code to work:
[code]
But it doesn't, and it seems like I have to set the timeout with ```$ua.timeout = 10```. Would've been great if it was possible to set the timeout right from the constructor.

[2018-06-26 23:42] ugexe commented on #206
https://github.com/sergot/http-useragent/blob/06a70d5cc8905dd5c5e16f26c8ca8cc1ad85f369/lib/HTTP/UserAgent.pm6#L75

`s/submethod BUILD/submethod TWEAK/`

[2018-07-10 14:21] zoffixznet opened #207 "Incorrect default encoding"
The site `http://eckva.net` does not set encoding in its `Content-type` header. I believe this module default to an incorrect encoding (ASCII) in such cases, as that site works fine in browsers and Perl 5's version of the LWP::Simple module:

[code]

[code]

[2018-08-03 11:02] zoffixznet opened #208 "080-ua.t expects old rakudo.org"
There's a test in `080-ua.t` that expects old rakudo.org website.

[code]

I'm assuming the site might need to change as the new `rakudo.org` uses HTTPS and had its content changed, so it's possible it no longer has the stuff that caused original problem to exhibit a bug.,

[2018-08-06 18:40] zostay commented on #184
Assuming I'm reading the code correctly, NETWORK_TESTING is a red herring. This problem has nothing to do with that.

I am running into this here: https://travis-ci.org/zostay/Amazon-DynamoDB/jobs/412756488

Looking at how the server is startup, my guess is that there's either a problem with how the test selects an available port or the timing. I suspect a timing issue. Since the server is running

[2018-08-06 18:42] zostay commented on #184
Looking through the build history of HTTP::UserAgent, the error occurs there too. For example,

https://travis-ci.org/sergot/http-useragent/builds/341064491

[2018-08-12 20:42] vladimir-nechaev opened #212 "UserAgent.get crashes for binary data in debug mode"
The following code crashes:
    my $ua = HTTP::UserAgent.new(:debug);
    my $response = $ua.get("http://httpbin.org/image/jpeg");

This is the stack trace:
  in method Str at /home/van/Projects/user_agent/http-useragent/lib/HTTP/Message.pm6 (HTTP::Message) line 240
  in method Str at /home/van/Projects/user_agent/http-useragent/lib/HTTP/Response.pm6 (HTTP::Response) line 107
  in method request a

[2018-08-12 21:01] #212 closed

[2018-08-25 15:49] mscha opened #214 "It doesn't seem possible to POST application/json data"
I'm trying to create a POST request like:

[code]

As far as I can figure out, this is not currently possible.
If I set the `Content-Type` header of the request to `'application/json'`, `add-form-data` seems to do nothing at all.

[2018-08-26 08:50] jonathanstowe commented on #214
Sure it's possible, it's just not immediately obvious from the documentation :)

The easiest was is create the HTTP::Request object with the ```POST``` helper in ```HTTP::Request::Common``` :

[code]

Which will give you a request like:

[code]

In the general case if you want to create the ```HTTP::Request``` by hand, you would want to use ```add-content``` rather than ```add-form-data```:

[code

[2018-12-21 09:58] ufobat commented on #205
I've just experienced the same.

[2018-12-21 11:39] jonathanstowe commented on #205
The reason for this is that the error message is matched  for the "Connection reset by peer" condition, and Windows actually says "An established connection was aborted" in the condition we were testing for.

I guess this would fix it:

[code]

But as I can't test on Windows I'm somewhat loathe to just stick it in without it being tested first.

[2018-12-21 13:19] ufobat commented on #205
well... not on german windows installations :-(
[code]

[2018-12-23 10:59] jonathanstowe commented on #205
Well it would appear that it is just passing the text from the OS verbatim, and Windows has internationalised error messages for this.  I assume also that the ```Could not receive data from socket``` is common to a number of potential error conditions, so it's going to be tricky to match.

I guess the proper fix would be for Perl 6 to throw properly typed exceptions in IO::Socket::INET so we would

[2019-01-27 08:49] jonathanstowe opened #216 "Test servers don't always start up in time"
It seems that the tests that use some test server intermittently fail because the test server hasn't completely started by the time it is needed.

This is specifically the /230-binary-request.t and t/250-issue-144.t

I guess that utterly slack thing to do would be to put a sleep in but there may be a better idea.  The latter test is somewhat complicated by what the server does which means it can't

[2019-01-27 09:03] jonathanstowe opened #217 "Currently can't run test scripts individually"
I think this is to do with a recent change in rakudo but putting it here as a reminder.

In the 06c03a7a I fully qualified the use of HTTP::Request and HTTP::Response so as not to conflict with the similarly named classes in HTTP::Server - this has worked for two and a half years but with the

[code]

We now get:

[code]

I guess the easiest thing to do would be to remove the auth qualification  b

[2019-01-27 20:18] ugexe commented on #217
So the issue is that `auth` for a dist not pointing at a META6.json is `''` (and the version `*` and the api `*`). It may end up that an auth of `''` will match against any other auth, but I still have to think about the ramifications.

Either way, I would always suggest using `-I.` instead of `-Ilib`. Consider if a *dependency* does `use HTTP::UserAgent:ver<Some-Old-Version>`... the `-Ilib` repo

[2019-01-27 21:16] #217 closed

[2019-02-10 11:27] JJ opened #218 "This might be an installation? bug."
It arises [when installing WWW](https://travis-ci.com/JJ/API-USNavalObservatory). HTTP::Response is missing, but UserAgent is installed correctly. Any idea?

[2019-02-10 11:36] jonathanstowe commented on #218
It may well be related to https://github.com/sergot/http-useragent/issues/217 -  it needs the ```auth``` qualified module name to avoid the conflict with some other software that defined ```HTTP::Response``` etc ...

[2019-02-28 00:40] dmaestro opened #219 "URI::Escape is inappropriate for escaping values for x-www-form-urlencoded"
It seems that values containing spaces are percent-encoded, when they should be replaced by '+'. Unfortunately, x-www-form-urlencoded does not mean the same as rfc 3986: https://useyourloaf.com/blog/how-to-percent-encode-a-url-string/

[1] http://stackoverflow.com/a/24888789

The following ugly hack works for the use case I have (spaces), but other characters might need to be specially addressed a

[2019-02-28 17:33] ugexe commented on #219
Resolved by https://github.com/sergot/http-useragent/pull/220

[2019-02-28 17:33] #219 closed

[2019-04-29 08:42] JJ opened #222 "Error when posting numeric data"
If the data in a form is numeric, like here:

[code]

it fails with an error
[code]
This leads to several errors down the line, including perl6-community-modules/perl6-WWW#17 and finally rakudo/rakudo#2779

[2019-04-30 14:54] pprocacci opened #224 "no-follow option?"
Is it possible to add a no-follow or similar option so that <30[0123]> responses aren't followed?

[2019-05-23 23:15] for-firecat opened #225 "how can i set proxy for HTTP::UserAgent?"

[2019-06-06 10:19] bbkr opened #226 "Incorrect content length due to eol appending"
HTTP::Message in Str method is silently appending EOL:

https://github.com/sergot/http-useragent/blob/cfdfc48c55d312049f90f1db61042718c1de9908/lib/HTTP/Message.pm6#L231

This causes `Content-Length` calculated by user to be incorrect:

[code]

Why is this EOL appended? User content should not be tampered with. Is this behavior described somewhere in RFC?

[2019-07-19 09:14] Antisunny commented on #214
<img width="565" alt="image" src="https://user-images.githubusercontent.com/2398514/61524053-2795b280-aa48-11e9-9065-4ba58075e74c.png">

This is really a shit. The data is forcely encoded as `application/x-www-form-urlencoded`.

[2019-07-31 13:55] #222 closed

[2019-10-08 13:04] hankache commented on #205
This is still failing on Windows. Rakudo 2019.07.1

[2019-10-08 18:10] jonathanstowe commented on #205
The reason that it fails is that IO::Socket::INET throws an AdHoc exception for the 'connection reset by peer' case with the text of the OS error as the message, the code that is being tested matches the 'connection reset by peer'  to detect this particular error.  For most Unix like operating systems this is fine as the message is fairly consistently what is expected, however on Windows the messa

[2019-10-13 11:29] hankache commented on #205
This is fixed on windows

[2019-10-16 15:45] hankache commented on #205
I think this can be closed, no?

[2019-10-16 18:17] jonathanstowe commented on #205
We'll close when we get three or four :+1:  on the above comment :-)

[2019-10-17 16:43] hankache commented on #205
@jonathanstowe does my vote count? ;)

[2019-10-17 19:31] #205 closed

[2019-10-17 19:32] jonathanstowe commented on #205
Of course :-)

[2019-11-16 19:47] JJ opened #228 ""Documentation" links point to source"
And they are incorrect, at that...

[2020-01-18 22:17] pheix opened #229 "Testing is failed with defined NETWORK_TESTING"
Testing is failed with defined NETWORK_TESTING:

[code]
Quick ref to #64: some urls go wrong with get().

[2020-01-21 06:38] #229 closed

[2020-07-20 17:56] CIAvash opened #233 "Proxy does not work"
I set the proxy using the `HTTP_PROXY` environment variable, and depending on the website's protocol, HTTP::UserAgent does two things:
- http://httpbin.org: it says "Invalid header received from client."
- https://httpbin.org: it just hangs. Probably [here](https://github.com/sergot/http-useragent/blob/590680d9679a6a1184ef224ec03b86bd0df26036/lib/HTTP/UserAgent.pm6#L363).

[2020-07-21 06:23] CIAvash commented on #233
I should add that the host of `htttp_proxy` is `127.0.0.1`. It seems it gives an error if I use `localhost`.

[2020-09-21 10:12] ichalov opened #234 "Timeout doesn't work if TCP connection is established but HTTP server delays returning content"
E.g. I have this PHP script on the server:
[code]

Then the following script returns content in 200 seconds and not 10 or 180:
[code]

perl5 LWP::UserAgent handles this case just fine (though it had issues with DNS timeouts and maybe non-responsive TCP ports IIRC).

I think I was able to work it around like:
[code]

It would be good to insert similar code in the library itself but I understand it

[2020-11-02 21:18] jjatria opened #236 "Dies when parsing requests with non-ASCII header values"
HTTP::UserAgent dies when processing responses that have non-ASCII header values:

[code]

For comparison:

Curl:
[code]

Cro::HTTP
[code]

HTTP::Tiny
[code]

[2020-11-02 21:56] #236 closed

[2021-06-23 23:25] pheix opened #238 "Unit test 150-issue-64.t fails"
got this right now:

[code]
Maybe it's just a single server failure, but need to be checked.

[2021-06-24 20:06] pheix commented on #238
just FYI, now `t/150-issue-64.t` works as expected:
[code]
I think, it was a random host failure. I suppose to close this ticket if no one will report the same in month.

[2022-03-19 23:04] pheix commented on #238
closed!

[2022-03-19 23:04] #238 closed

[2022-03-19 23:07] pheix opened #239 "./t/080-ua.t fails with JSON::Fast v0.17"
`./t/080-ua.t` fails with:

[code]

It works fine with `JSON::Fast` v0.15, but fails on v0.17:

[code]

[2022-05-31 12:21] #239 closed

[2022-05-31 12:22] sergot commented on #239
@pheix thanks for reporting, it is fixed now

[2022-06-01 16:22] melezhik opened #241 "CI Build fails"
Hi!

here is the report - http://sparrowhub.io:2222/report/522

[code]

HTH

Aleksei

[2022-06-02 15:06] #241 closed

[2022-06-02 15:06] sergot commented on #241
Thanks @melezhik !

[2022-06-02 16:51] melezhik commented on #241
@sergot my pleasure

[2022-11-26 11:29] JJ opened #242 "Problems with JSON::Fast"
JSON::Fast is "missing" when trying to install this as an upstream dep, for instance [here](https://github.com/raku-community-modules/WWW/actions/runs/3553093108/jobs/5968411944#step:5:86)

Looks like it has not been installed yet, although it supposedly does not fail when trying to `use` it. Some weird thing, anyway.